In [39]:
import pandas as pd

In [40]:
# goal: track the ap quantity by state over time, then combine with knowledge of
# subsidies to identify impact of subsidies on tests taken

In [ ]:
xlsx_file = "datasets\\ap\\school-report-of-ap-exams-grades-11-12-2022-2023.xlsx"
csv_file = "datasets\\ap\\school-report-of-ap-exams-grades-11-12-2022-2023.csv"

df = pd.read_excel(xlsx_file)

df = df.dropna(axis=0, thresh=2)
df = df.dropna(axis=1, how="all")
df

,Unnamed: 2,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 15,Unnamed: 16
5,STATE,11TH & 12TH GRADE ENROLLMENT*,TOTAL AP STUDENTS,NaN,TOTAL AP EXAMS,NaN,AP EXAMS PER 1000 \n11TH & 12TH GRADERS**,NaN,EXAM CHG PER 1000 \n11TH & 12TH GRADERS,% OF SCORES 3 OR ABOVE,NaN
6,NaN,NaN,2022,2023.0,2022,2023.0,2022,2023.000000,2022-2023,2022,2023.000000
7,Alabama,101638,27067,28580.0,49700,52000.0,418.287446,436.136091,17.848645,0.472857,0.503288
8,Alaska,18722,3021,3583.0,4838,5721.0,203.573158,228.928533,25.355375,0.598181,0.614927
9,Arizona,181408,36893,41095.0,67263,73740.0,289.802575,302.158670,12.356095,0.612045,0.618823
10,Arkansas,68261,25211,26389.0,42797,44739.0,500.656348,514.656978,14.000631,0.433278,0.442902
11,California,995711,373936,411097.0,704757,790576.0,594.559402,648.591810,54.032409,0.623623,0.629650
12,Colorado,141470,50338,53812.0,85014,91538.0,467.717069,491.765039,24.04797,0.631343,0.637517
13,Connecticut,78598,33421,34723.0,62065,64615.0,666.592001,699.966920,33.374919,0.678257,0.688726
14,Delaware,20236,7273,8181.0,12407,14120.0,479.837088,530.045464,50.208376,0.565568,0.566147
15,District of Columbia,9060,6025,6530.0,11192,12047.0,1187.818552,1095.916115,-91.902438,0.547981,0.557815
16,Florida,432007,201284,209775.0,363928,381817.0,605.245708,606.564245,1.318537,0.558223,0.586252
17,Georgia,242734,95677,102454.0,175733,189167.0,494.988978,526.654692,31.665714,0.630815,0.651467
18,Hawaii,23861,8431,8847.0,13719,14419.0,510.995076,529.399438,18.404363,0.623661,0.620015
19,Idaho,50020,8274,8555.0,13423,14178.0,242.685515,233.806477,-8.879038,0.632049,0.634716
20,Illinois,288887,125988,130988.0,224008,233758.0,0,635.452616,635.452616,0.613576,0.631469
21,Indiana,162297,49222,50782.0,83492,86202.0,432.89116,432.620443,-0.270718,0.559551,0.582875
22,Iowa,77472,11929,12346.0,17594,18457.0,175.435292,172.501033,-2.934259,0.61754,0.645825
23,Kansas,70239,9404,9949.0,14943,15954.0,175.145442,185.765743,10.6203,0.662852,0.688981
24,Kentucky,93933,28636,30796.0,45506,47848.0,318.005916,320.004684,1.998768,0.549444,0.562092
25,Louisiana,90797,25951,26045.0,38675,38540.0,281.181194,283.864004,2.68281,0.455229,0.487519
26,Maine,27756,6918,7142.0,11813,12142.0,378.302947,379.017149,0.714203,0.625328,0.612914
27,Maryland,127795,60177,66077.0,109225,120633.0,654.978996,689.620095,34.641099,0.649119,0.653926
28,Massachusetts,144338,64919,69891.0,123321,134189.0,766.751402,826.061051,59.309649,0.660999,0.670293
29,Michigan,220131,59252,64194.0,100143,110705.0,362.051989,407.316552,45.264564,0.645637,0.655020
30,Minnesota,144686,39394,42147.0,62227,68118.0,306.158586,327.032332,20.873746,0.668472,0.672627
31,Mississippi,58845,11697,13197.0,16710,18870.0,210.393305,228.566573,18.173268,0.406523,0.376312
32,Missouri,130439,26721,27468.0,44183,45563.0,276.079047,280.077278,3.998231,0.631827,0.651077
33,Montana,21209,4106,4279.0,6568,6810.0,260.186092,259.889669,-0.296423,0.663368,0.681204
34,Nebraska,50522,8939,9814.0,14460,15834.0,219.88551,229.919639,10.034129,0.643776,0.621069
35,Nevada,75263,20010,23781.0,33000,38293.0,345.07072,357.652499,12.581778,0.516667,0.506986
36,New Hampshire,26213,6928,7021.0,11484,11743.0,372.724571,391.675886,18.951315,0.702281,0.712510
37,New Jersey,197534,81367,85893.0,161955,174134.0,717.71261,779.455689,61.743079,0.66387,0.691760
38,New Mexico,45225,9837,10940.0,15444,17353.0,277.080028,313.631841,36.551813,0.423012,0.415432
39,New York,380417,182434,190067.0,329539,344259.0,698.356814,730.209218,31.852404,0.587669,0.616083
40,North Carolina,221033,75793,83839.0,138524,153861.0,508.182484,524.202268,16.019784,0.592114,0.609992
41,North Dakota,16487,3208,3335.0,4782,5031.0,239.83269,229.210893,-10.621796,0.626725,0.652753
42,Ohio,231662,68806,69685.0,120023,121367.0,421.914079,427.454654,5.540575,0.6524,0.674261
43,Oklahoma,92469,15206,16153.0,24907,26551.0,213.052479,228.076436,15.023958,0.52692,0.538172
44,Oregon,94733,18261,21387.0,28897,34236.0,245.567179,278.160725,32.593546,0.633837,0.616544
45,Pennsylvania,265716,72260,77550.0,129092,139875.0,409.196749,441.953063,32.756314,0.664619,0.683231
46,Rhode Island,21977,7006,7658.0,12501,13717.0,509.331295,565.454794,56.123499,0.578914,0.589633
47,South Carolina,106224,32046,32944.0,52564,53330.0,357.182355,340.723377,-16.458978,0.640686,0.666079
48,South Dakota,19564,3099,3539.0,4833,5501.0,203.089182,208.955224,5.866041,0.717153,0.684239
49,Tennessee,143814,39938,42944.0,67337,72676.0,358.643007,376.298552,17.655545,0.605447,0.619489
50,Texas,760152,321876,351195.0,577350,634995.0,540.522172,577.110894,36.588721,0.499305,0.507354
51,Utah,105288,30466,32361.0,44546,48232.0,282.286896,290.574424,8.287528,0.679792,0.683260
52,Vermont,11599,3183,3143.0,5452,5437.0,416.582915,422.019140,5.436225,0.649853,0.684385
53,Virginia,190106,73946,79281.0,145984,158566.0,629.020789,669.968333,40.947544,0.631179,0.649515
54,Washington,178087,47130,53546.0,79721,93034.0,311.355206,353.950597,42.595391,0.664053,0.675764
55,West Virginia,34617,6143,6524.0,9718,10283.0,220.12823,236.531184,16.402954,0.49115,0.502480
56,Wisconsin,131045,45140,47936.0,74351,79109.0,461.012406,482.116830,21.104424,0.661592,0.662137
57,Wyoming,13961,2444,2366.0,3609,3551.0,223.434678,206.575460,-16.859218,0.553616,0.598705
59,TOTAL (U.S.),7436258,2576631,2761824.0,4595317,4967434.0,480.63897,512.911467,32,0.598266,0.612400
60,NON U.S./U.S. TERR/CAN,NaN,83283,107594.0,167030,230167.0,NaN,NaN,NaN,0.708813,0.747479
61,GRAND TOTAL,7436258,2659914,2869418.0,4762347,5197601.0,NaN,NaN,NaN,0.602143,0.618382

In [42]:
pieces = [df.iloc[ : , 0:1], df.iloc[ : , 6:8:1]]
df2 = pd.concat(pieces, axis=1)
df3 = df2.transpose()
df3 = df3.iloc[:, 1:-2]
df3.iat[0,0] = "YEAR"
labels = df3.iloc[0]

merged = df3.iloc[1:3]
merged.columns = labels
merged

Unnamed: 2,YEAR,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,District of Columbia,...,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming,TOTAL (U.S.)
Unnamed: 10,2022,418.287446,203.573158,289.802575,500.656348,594.559402,467.717069,666.592001,479.837088,1187.818552,...,358.643007,540.522172,282.286896,416.582915,629.020789,311.355206,220.12823,461.012406,223.434678,480.63897
Unnamed: 11,2023.0,436.136091,228.928533,302.15867,514.656978,648.59181,491.765039,699.96692,530.045464,1095.916115,...,376.298552,577.110894,290.574424,422.01914,669.968333,353.950597,236.531184,482.11683,206.57546,512.911467

In [43]:
merged.to_csv("datasets\\ap\\processed\\MERGED-school-report-of-ap-exams-grades-11-12-2022-2023.csv", index=False)