In [1]:
print('Hello World')

Hello World

In [2]:
import pandas as pd
import numpy as np

ModuleNotFoundError: No module named 'pandas'

In [3]:
!pip install pandas numpy

zsh:1: command not found: pip

In [4]:
import pandas as pd
import numpy as np

ModuleNotFoundError: No module named 'pandas'

In [5]:
!python3 -m pip install pandas numpy

Collecting pandas
  Downloading pandas-3.0.0-cp313-cp313-macosx_11_0_arm64.whl.metadata (79 kB)
Collecting numpy
  Downloading numpy-2.4.1-cp313-cp313-macosx_14_0_arm64.whl.metadata (6.6 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-3.0.0-cp313-cp313-macosx_11_0_arm64.whl (9.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 9.9/9.9 MB 9.9 MB/s eta 0:00:00ta 0:00:01
Downloading numpy-2.4.1-cp313-cp313-macosx_14_0_arm64.whl (5.2 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 5.2/5.2 MB 10.9 MB/s eta 0:00:00a 0:00:01
Installing collected packages: numpy, pandas
Successfully installed numpy-2.4.1 pandas-3.0.0

[notice] A new release of pip is available: 24.3.1 -> 25.3
[notice] To update, run: pip3 install --upgrade pip

In [6]:
import pandas as pd
import numpy as np

In [26]:
df = pd.read_csv('/Users/alanadams/Downloads/DS3 project/ap_state_2024.csv')
df

,Unnamed: 0,Unnamed: 1,11TH & 12TH GRADE,EXAM CHG PER 1000 TOTAL AP STUDENTS TOTAL AP EXAMS,AP EXAMS PER 1000,Unnamed: 5,% OF SCORES 3 OR ABOVE
0,NaN,STATE,ENROLLMENT*,NaN,11TH & 12TH GRADERS**,11TH & 12TH GRADERS,NaN
1,NaN,NaN,NaN,2024 2025 2024 2025,2024 2025,2024-2025,2024 2025
2,Alabama,NaN,"117,803","31,027 32,017 58,015 60,120",429 417,-12,57.1% 63.7%
3,Alaska,NaN,"20,383","4,199 4,646 6,801 7,996",261 267,6,63.3% 68.0%
4,Arizona,NaN,"201,966","45,686 48,010 85,552 92,145",324 335,11,65.9% 70.9%
5,Arkansas,NaN,"76,505","28,891 30,644 50,597 53,640",536 540,4,48.7% 54.3%
6,California,NaN,"1,026,753","435,853 456,275 863,709 919,983",641 722,81,67.7% 71.7%
7,Colorado,NaN,"149,565","56,546 58,681 99,442 104,911",501 526,25,68.8% 73.1%
8,Connecticut,NaN,"94,135","36,758 37,644 70,547 73,333",655 658,3,73.0% 78.8%
9,Delaware,NaN,"24,656","8,973 9,162 15,967 16,592",542 499,-43,61.5% 67.6%
10,District of Columbia,NaN,"14,714","6,936 7,784 13,816 15,460",993 845,-148,61.4% 64.5%
11,Florida,NaN,"511,419","219,999 229,587 417,656 450,953",549 625,76,64.5% 68.9%
12,Georgia,NaN,"281,994","112,184 117,809 218,669 232,506",554 554,0,69.6% 74.3%
13,Hawaii,NaN,"29,231","9,790 10,189 16,380 17,276",454 515,61,65.5% 70.4%
14,Idaho,NaN,"52,930","8,711 7,943 14,492 13,498",221 208,-13,68.7% 77.7%
15,Illinois,NaN,"310,511","139,761 148,739 254,070 277,038",625 694,69,68.1% 73.5%
16,Indiana,NaN,"174,664","54,346 56,672 93,115 99,432",418 455,37,62.5% 69.0%
17,Iowa,NaN,"86,513","13,459 14,190 20,684 22,190",179 187,8,70.3% 75.8%
18,Kansas,NaN,"77,892","11,039 11,871 18,518 19,848",192 205,13,73.9% 80.3%
19,Kentucky,NaN,"104,001","32,792 34,097 52,616 55,858",314 332,18,61.4% 67.0%
20,Louisiana,NaN,"116,115","26,876 25,753 40,749 40,396",242 235,-7,56.4% 66.1%
21,Maine,NaN,"32,725","7,602 7,907 13,195 13,974",342 369,27,68.2% 75.7%
22,Maryland,NaN,"152,871","75,163 81,045 140,454 157,338",653 753,100,67.4% 71.2%
23,Massachusetts,NaN,"162,717","73,809 76,568 146,485 155,131",771 841,70,71.3% 76.6%
24,Michigan,NaN,"231,750","70,914 74,222 125,261 133,513",423 462,39,69.8% 74.4%
25,Minnesota,NaN,"153,181","44,745 47,454 73,787 78,559",319 343,24,72.5% 77.1%
26,Mississippi,NaN,"68,918","13,726 12,636 19,879 18,354",204 185,-19,46.5% 59.2%
27,Missouri,NaN,"146,053","29,751 31,242 50,123 52,891",256 286,30,70.0% 74.9%
28,Montana,NaN,"23,219","4,953 5,399 8,295 9,331",288 308,20,74.0% 76.9%
29,Nebraska,NaN,"55,165","10,803 11,977 17,412 19,727",223 251,28,66.3% 70.7%
30,Nevada,NaN,"79,841","25,332 27,365 42,071 45,961",357 395,38,56.6% 61.8%
31,New Hampshire,NaN,"33,240","7,405 7,752 12,612 13,501",351 357,6,73.9% 79.6%
32,New Jersey,NaN,"230,854","92,253 97,477 191,008 206,076",701 776,75,73.1% 77.7%
33,New Mexico,NaN,"50,593","11,654 11,938 18,882 19,709",322 316,-6,45.4% 50.7%
34,New York,NaN,"423,389","196,940 206,485 367,979 396,529",661 744,83,67.7% 73.6%
35,North Carolina,NaN,"247,228","93,149 99,461 174,450 190,260",515 543,28,66.8% 73.2%
36,North Dakota,NaN,"18,792","3,309 3,180 4,952 4,832",206 189,-17,69.5% 77.0%
37,Ohio,NaN,"277,958","73,136 75,796 130,267 136,392",401 393,-8,74.0% 78.7%
38,Oklahoma,NaN,"106,015","17,603 18,682 29,800 31,817",235 235,0,56.7% 62.7%
39,Oregon,NaN,"98,704","23,046 24,175 38,116 41,464",282 323,41,67.5% 73.3%
40,Pennsylvania,NaN,"300,929","81,806 85,949 151,443 161,727",407 442,35,73.0% 77.9%
41,Rhode Island,NaN,"25,194","8,393 8,586 15,593 16,389",559 583,24,64.2% 70.8%
42,South Carolina,NaN,"121,200","34,421 35,078 56,262 58,068",319 320,1,70.7% 76.7%
43,South Dakota,NaN,"22,289","3,827 4,171 6,083 6,728",204 223,19,73.3% 79.2%
44,Tennessee,NaN,"165,967","46,201 47,999 80,744 84,137",370 377,7,66.9% 72.9%
45,Texas,NaN,"836,003","381,057 408,024 713,059 785,938",597 651,54,54.1% 59.2%
46,Utah,NaN,"111,692","34,226 35,802 51,517 54,264",288 304,16,72.7% 77.0%
47,Vermont,NaN,"13,662","3,371 3,547 5,934 6,333",380 416,36,73.7% 80.1%
48,Virginia,NaN,"212,730","84,655 90,762 174,454 189,144",654 682,28,71.3% 76.3%
49,Washington,NaN,"192,534","57,774 59,649 104,179 110,140",364 379,15,72.1% 77.3%
50,West Virginia,NaN,"36,977","6,485 6,504 10,349 10,183",226 216,-10,58.9% 64.5%
51,Wisconsin,NaN,"145,830","51,868 53,798 88,345 93,882",478 513,35,72.1% 77.9%
52,Wyoming,NaN,"14,202","2,260 2,306 3,439 3,406",194 186,-8,68.9% 75.7%
53,Total,NaN,NaN,NaN,NaN,NaN,NaN
54,TOTAL (U.S.),NaN,"8,264,172","2,955,463 3,104,649 5,477,824 5,878,873",500 539,39,66.0% 71.0%
55,NON U.S./U.S. TERR/CAN,NaN,NaN,"123,671 139,330 266,435 303,298",NaN,NaN,79.2% 78.5%
56,GRAND TOTAL,NaN,"8,264,172","3,079,134 3,243,979 5,744,259 6,182,171",NaN,NaN,66.6% 71.4%

In [27]:
df

,Unnamed: 0,Unnamed: 1,11TH & 12TH GRADE,EXAM CHG PER 1000 TOTAL AP STUDENTS TOTAL AP EXAMS,AP EXAMS PER 1000,Unnamed: 5,% OF SCORES 3 OR ABOVE
0,NaN,STATE,ENROLLMENT*,NaN,11TH & 12TH GRADERS**,11TH & 12TH GRADERS,NaN
1,NaN,NaN,NaN,2024 2025 2024 2025,2024 2025,2024-2025,2024 2025
2,Alabama,NaN,"117,803","31,027 32,017 58,015 60,120",429 417,-12,57.1% 63.7%
3,Alaska,NaN,"20,383","4,199 4,646 6,801 7,996",261 267,6,63.3% 68.0%
4,Arizona,NaN,"201,966","45,686 48,010 85,552 92,145",324 335,11,65.9% 70.9%
5,Arkansas,NaN,"76,505","28,891 30,644 50,597 53,640",536 540,4,48.7% 54.3%
6,California,NaN,"1,026,753","435,853 456,275 863,709 919,983",641 722,81,67.7% 71.7%
7,Colorado,NaN,"149,565","56,546 58,681 99,442 104,911",501 526,25,68.8% 73.1%
8,Connecticut,NaN,"94,135","36,758 37,644 70,547 73,333",655 658,3,73.0% 78.8%
9,Delaware,NaN,"24,656","8,973 9,162 15,967 16,592",542 499,-43,61.5% 67.6%
10,District of Columbia,NaN,"14,714","6,936 7,784 13,816 15,460",993 845,-148,61.4% 64.5%
11,Florida,NaN,"511,419","219,999 229,587 417,656 450,953",549 625,76,64.5% 68.9%
12,Georgia,NaN,"281,994","112,184 117,809 218,669 232,506",554 554,0,69.6% 74.3%
13,Hawaii,NaN,"29,231","9,790 10,189 16,380 17,276",454 515,61,65.5% 70.4%
14,Idaho,NaN,"52,930","8,711 7,943 14,492 13,498",221 208,-13,68.7% 77.7%
15,Illinois,NaN,"310,511","139,761 148,739 254,070 277,038",625 694,69,68.1% 73.5%
16,Indiana,NaN,"174,664","54,346 56,672 93,115 99,432",418 455,37,62.5% 69.0%
17,Iowa,NaN,"86,513","13,459 14,190 20,684 22,190",179 187,8,70.3% 75.8%
18,Kansas,NaN,"77,892","11,039 11,871 18,518 19,848",192 205,13,73.9% 80.3%
19,Kentucky,NaN,"104,001","32,792 34,097 52,616 55,858",314 332,18,61.4% 67.0%
20,Louisiana,NaN,"116,115","26,876 25,753 40,749 40,396",242 235,-7,56.4% 66.1%
21,Maine,NaN,"32,725","7,602 7,907 13,195 13,974",342 369,27,68.2% 75.7%
22,Maryland,NaN,"152,871","75,163 81,045 140,454 157,338",653 753,100,67.4% 71.2%
23,Massachusetts,NaN,"162,717","73,809 76,568 146,485 155,131",771 841,70,71.3% 76.6%
24,Michigan,NaN,"231,750","70,914 74,222 125,261 133,513",423 462,39,69.8% 74.4%
25,Minnesota,NaN,"153,181","44,745 47,454 73,787 78,559",319 343,24,72.5% 77.1%
26,Mississippi,NaN,"68,918","13,726 12,636 19,879 18,354",204 185,-19,46.5% 59.2%
27,Missouri,NaN,"146,053","29,751 31,242 50,123 52,891",256 286,30,70.0% 74.9%
28,Montana,NaN,"23,219","4,953 5,399 8,295 9,331",288 308,20,74.0% 76.9%
29,Nebraska,NaN,"55,165","10,803 11,977 17,412 19,727",223 251,28,66.3% 70.7%
30,Nevada,NaN,"79,841","25,332 27,365 42,071 45,961",357 395,38,56.6% 61.8%
31,New Hampshire,NaN,"33,240","7,405 7,752 12,612 13,501",351 357,6,73.9% 79.6%
32,New Jersey,NaN,"230,854","92,253 97,477 191,008 206,076",701 776,75,73.1% 77.7%
33,New Mexico,NaN,"50,593","11,654 11,938 18,882 19,709",322 316,-6,45.4% 50.7%
34,New York,NaN,"423,389","196,940 206,485 367,979 396,529",661 744,83,67.7% 73.6%
35,North Carolina,NaN,"247,228","93,149 99,461 174,450 190,260",515 543,28,66.8% 73.2%
36,North Dakota,NaN,"18,792","3,309 3,180 4,952 4,832",206 189,-17,69.5% 77.0%
37,Ohio,NaN,"277,958","73,136 75,796 130,267 136,392",401 393,-8,74.0% 78.7%
38,Oklahoma,NaN,"106,015","17,603 18,682 29,800 31,817",235 235,0,56.7% 62.7%
39,Oregon,NaN,"98,704","23,046 24,175 38,116 41,464",282 323,41,67.5% 73.3%
40,Pennsylvania,NaN,"300,929","81,806 85,949 151,443 161,727",407 442,35,73.0% 77.9%
41,Rhode Island,NaN,"25,194","8,393 8,586 15,593 16,389",559 583,24,64.2% 70.8%
42,South Carolina,NaN,"121,200","34,421 35,078 56,262 58,068",319 320,1,70.7% 76.7%
43,South Dakota,NaN,"22,289","3,827 4,171 6,083 6,728",204 223,19,73.3% 79.2%
44,Tennessee,NaN,"165,967","46,201 47,999 80,744 84,137",370 377,7,66.9% 72.9%
45,Texas,NaN,"836,003","381,057 408,024 713,059 785,938",597 651,54,54.1% 59.2%
46,Utah,NaN,"111,692","34,226 35,802 51,517 54,264",288 304,16,72.7% 77.0%
47,Vermont,NaN,"13,662","3,371 3,547 5,934 6,333",380 416,36,73.7% 80.1%
48,Virginia,NaN,"212,730","84,655 90,762 174,454 189,144",654 682,28,71.3% 76.3%
49,Washington,NaN,"192,534","57,774 59,649 104,179 110,140",364 379,15,72.1% 77.3%
50,West Virginia,NaN,"36,977","6,485 6,504 10,349 10,183",226 216,-10,58.9% 64.5%
51,Wisconsin,NaN,"145,830","51,868 53,798 88,345 93,882",478 513,35,72.1% 77.9%
52,Wyoming,NaN,"14,202","2,260 2,306 3,439 3,406",194 186,-8,68.9% 75.7%
53,Total,NaN,NaN,NaN,NaN,NaN,NaN
54,TOTAL (U.S.),NaN,"8,264,172","2,955,463 3,104,649 5,477,824 5,878,873",500 539,39,66.0% 71.0%
55,NON U.S./U.S. TERR/CAN,NaN,NaN,"123,671 139,330 266,435 303,298",NaN,NaN,79.2% 78.5%
56,GRAND TOTAL,NaN,"8,264,172","3,079,134 3,243,979 5,744,259 6,182,171",NaN,NaN,66.6% 71.4%

In [28]:
df = df.reset_index()
df

,index,Unnamed: 0,Unnamed: 1,11TH & 12TH GRADE,EXAM CHG PER 1000 TOTAL AP STUDENTS TOTAL AP EXAMS,AP EXAMS PER 1000,Unnamed: 5,% OF SCORES 3 OR ABOVE
0,0,NaN,STATE,ENROLLMENT*,NaN,11TH & 12TH GRADERS**,11TH & 12TH GRADERS,NaN
1,1,NaN,NaN,NaN,2024 2025 2024 2025,2024 2025,2024-2025,2024 2025
2,2,Alabama,NaN,"117,803","31,027 32,017 58,015 60,120",429 417,-12,57.1% 63.7%
3,3,Alaska,NaN,"20,383","4,199 4,646 6,801 7,996",261 267,6,63.3% 68.0%
4,4,Arizona,NaN,"201,966","45,686 48,010 85,552 92,145",324 335,11,65.9% 70.9%
5,5,Arkansas,NaN,"76,505","28,891 30,644 50,597 53,640",536 540,4,48.7% 54.3%
6,6,California,NaN,"1,026,753","435,853 456,275 863,709 919,983",641 722,81,67.7% 71.7%
7,7,Colorado,NaN,"149,565","56,546 58,681 99,442 104,911",501 526,25,68.8% 73.1%
8,8,Connecticut,NaN,"94,135","36,758 37,644 70,547 73,333",655 658,3,73.0% 78.8%
9,9,Delaware,NaN,"24,656","8,973 9,162 15,967 16,592",542 499,-43,61.5% 67.6%
10,10,District of Columbia,NaN,"14,714","6,936 7,784 13,816 15,460",993 845,-148,61.4% 64.5%
11,11,Florida,NaN,"511,419","219,999 229,587 417,656 450,953",549 625,76,64.5% 68.9%
12,12,Georgia,NaN,"281,994","112,184 117,809 218,669 232,506",554 554,0,69.6% 74.3%
13,13,Hawaii,NaN,"29,231","9,790 10,189 16,380 17,276",454 515,61,65.5% 70.4%
14,14,Idaho,NaN,"52,930","8,711 7,943 14,492 13,498",221 208,-13,68.7% 77.7%
15,15,Illinois,NaN,"310,511","139,761 148,739 254,070 277,038",625 694,69,68.1% 73.5%
16,16,Indiana,NaN,"174,664","54,346 56,672 93,115 99,432",418 455,37,62.5% 69.0%
17,17,Iowa,NaN,"86,513","13,459 14,190 20,684 22,190",179 187,8,70.3% 75.8%
18,18,Kansas,NaN,"77,892","11,039 11,871 18,518 19,848",192 205,13,73.9% 80.3%
19,19,Kentucky,NaN,"104,001","32,792 34,097 52,616 55,858",314 332,18,61.4% 67.0%
20,20,Louisiana,NaN,"116,115","26,876 25,753 40,749 40,396",242 235,-7,56.4% 66.1%
21,21,Maine,NaN,"32,725","7,602 7,907 13,195 13,974",342 369,27,68.2% 75.7%
22,22,Maryland,NaN,"152,871","75,163 81,045 140,454 157,338",653 753,100,67.4% 71.2%
23,23,Massachusetts,NaN,"162,717","73,809 76,568 146,485 155,131",771 841,70,71.3% 76.6%
24,24,Michigan,NaN,"231,750","70,914 74,222 125,261 133,513",423 462,39,69.8% 74.4%
25,25,Minnesota,NaN,"153,181","44,745 47,454 73,787 78,559",319 343,24,72.5% 77.1%
26,26,Mississippi,NaN,"68,918","13,726 12,636 19,879 18,354",204 185,-19,46.5% 59.2%
27,27,Missouri,NaN,"146,053","29,751 31,242 50,123 52,891",256 286,30,70.0% 74.9%
28,28,Montana,NaN,"23,219","4,953 5,399 8,295 9,331",288 308,20,74.0% 76.9%
29,29,Nebraska,NaN,"55,165","10,803 11,977 17,412 19,727",223 251,28,66.3% 70.7%
30,30,Nevada,NaN,"79,841","25,332 27,365 42,071 45,961",357 395,38,56.6% 61.8%
31,31,New Hampshire,NaN,"33,240","7,405 7,752 12,612 13,501",351 357,6,73.9% 79.6%
32,32,New Jersey,NaN,"230,854","92,253 97,477 191,008 206,076",701 776,75,73.1% 77.7%
33,33,New Mexico,NaN,"50,593","11,654 11,938 18,882 19,709",322 316,-6,45.4% 50.7%
34,34,New York,NaN,"423,389","196,940 206,485 367,979 396,529",661 744,83,67.7% 73.6%
35,35,North Carolina,NaN,"247,228","93,149 99,461 174,450 190,260",515 543,28,66.8% 73.2%
36,36,North Dakota,NaN,"18,792","3,309 3,180 4,952 4,832",206 189,-17,69.5% 77.0%
37,37,Ohio,NaN,"277,958","73,136 75,796 130,267 136,392",401 393,-8,74.0% 78.7%
38,38,Oklahoma,NaN,"106,015","17,603 18,682 29,800 31,817",235 235,0,56.7% 62.7%
39,39,Oregon,NaN,"98,704","23,046 24,175 38,116 41,464",282 323,41,67.5% 73.3%
40,40,Pennsylvania,NaN,"300,929","81,806 85,949 151,443 161,727",407 442,35,73.0% 77.9%
41,41,Rhode Island,NaN,"25,194","8,393 8,586 15,593 16,389",559 583,24,64.2% 70.8%
42,42,South Carolina,NaN,"121,200","34,421 35,078 56,262 58,068",319 320,1,70.7% 76.7%
43,43,South Dakota,NaN,"22,289","3,827 4,171 6,083 6,728",204 223,19,73.3% 79.2%
44,44,Tennessee,NaN,"165,967","46,201 47,999 80,744 84,137",370 377,7,66.9% 72.9%
45,45,Texas,NaN,"836,003","381,057 408,024 713,059 785,938",597 651,54,54.1% 59.2%
46,46,Utah,NaN,"111,692","34,226 35,802 51,517 54,264",288 304,16,72.7% 77.0%
47,47,Vermont,NaN,"13,662","3,371 3,547 5,934 6,333",380 416,36,73.7% 80.1%
48,48,Virginia,NaN,"212,730","84,655 90,762 174,454 189,144",654 682,28,71.3% 76.3%
49,49,Washington,NaN,"192,534","57,774 59,649 104,179 110,140",364 379,15,72.1% 77.3%
50,50,West Virginia,NaN,"36,977","6,485 6,504 10,349 10,183",226 216,-10,58.9% 64.5%
51,51,Wisconsin,NaN,"145,830","51,868 53,798 88,345 93,882",478 513,35,72.1% 77.9%
52,52,Wyoming,NaN,"14,202","2,260 2,306 3,439 3,406",194 186,-8,68.9% 75.7%
53,53,Total,NaN,NaN,NaN,NaN,NaN,NaN
54,54,TOTAL (U.S.),NaN,"8,264,172","2,955,463 3,104,649 5,477,824 5,878,873",500 539,39,66.0% 71.0%
55,55,NON U.S./U.S. TERR/CAN,NaN,NaN,"123,671 139,330 266,435 303,298",NaN,NaN,79.2% 78.5%
56,56,GRAND TOTAL,NaN,"8,264,172","3,079,134 3,243,979 5,744,259 6,182,171",NaN,NaN,66.6% 71.4%

In [29]:
print("Dataset shape:", df.shape)
print("\nColumn names:")
print(df.columns.tolist())
print("\nFirst few rows:")
print(df.head(10))
print("\nData types:")
print(df.dtypes)
print("\nMissing values:")
print(df.isnull().sum())
print("\nMissing value percentage:")
print((df.isnull().sum() / len(df) * 100).round(2))

Dataset shape: (57, 8)

Column names:
['index', 'Unnamed: 0', 'Unnamed: 1', '11TH & 12TH GRADE', 'EXAM CHG PER 1000 TOTAL AP STUDENTS TOTAL AP EXAMS', 'AP EXAMS PER 1000', 'Unnamed: 5', '% OF SCORES 3 OR ABOVE']

First few rows:
   index   Unnamed: 0 Unnamed: 1 11TH & 12TH GRADE  \
0      0          NaN      STATE       ENROLLMENT*
1      1          NaN        NaN               NaN
2      2      Alabama        NaN           117,803
3      3       Alaska        NaN            20,383
4      4      Arizona        NaN           201,966
5      5     Arkansas        NaN            76,505
6      6   California        NaN         1,026,753
7      7     Colorado        NaN           149,565
8      8  Connecticut        NaN            94,135
9      9     Delaware        NaN            24,656

  EXAM CHG PER 1000 TOTAL AP STUDENTS TOTAL AP EXAMS      AP EXAMS PER 1000  \
0                                                NaN  11TH & 12TH GRADERS**
1                                2024 2025 2024 2025              2024 2025
2                        31,027 32,017 58,015 60,120                429 417
3                            4,199 4,646 6,801 7,996                261 267
4                        45,686 48,010 85,552 92,145                324 335
5                        28,891 30,644 50,597 53,640                536 540
6                    435,853 456,275 863,709 919,983                641 722
7                       56,546 58,681 99,442 104,911                501 526
8                        36,758 37,644 70,547 73,333                655 658
9                          8,973 9,162 15,967 16,592                542 499

            Unnamed: 5 % OF SCORES 3 OR ABOVE
0  11TH & 12TH GRADERS                    NaN
1            2024-2025              2024 2025
2                  -12            57.1% 63.7%
3                    6            63.3% 68.0%
4                   11            65.9% 70.9%
5                    4            48.7% 54.3%
6                   81            67.7% 71.7%
7                   25            68.8% 73.1%
8                    3            73.0% 78.8%
9                  -43            61.5% 67.6%

Data types:
index                                                 int64
Unnamed: 0                                              str
Unnamed: 1                                              str
11TH & 12TH GRADE                                       str
EXAM CHG PER 1000 TOTAL AP STUDENTS TOTAL AP EXAMS      str
AP EXAMS PER 1000                                       str
Unnamed: 5                                              str
% OF SCORES 3 OR ABOVE                                  str
dtype: object

Missing values:
index                                                  0
Unnamed: 0                                             2
Unnamed: 1                                            56
11TH & 12TH GRADE                                      3
EXAM CHG PER 1000 TOTAL AP STUDENTS TOTAL AP EXAMS     2
AP EXAMS PER 1000                                      3
Unnamed: 5                                             3
% OF SCORES 3 OR ABOVE                                 2
dtype: int64

Missing value percentage:
index                                                  0.00
Unnamed: 0                                             3.51
Unnamed: 1                                            98.25
11TH & 12TH GRADE                                      5.26
EXAM CHG PER 1000 TOTAL AP STUDENTS TOTAL AP EXAMS     3.51
AP EXAMS PER 1000                                      5.26
Unnamed: 5                                             5.26
% OF SCORES 3 OR ABOVE                                 3.51
dtype: float64

In [30]:
df.rename(columns={
    'Unnamed: 0': 'index_col',  # Remove if not needed
    'STATE': 'state',
    '11TH & 12TH GRADE ENROLLMENT*': 'hs_enrollment',
    'EXAM CHG PER 1000 TOTAL AP STUDENTS TOTAL AP EXAMS': 'exams_per_1000_students',
    'AP EXAMS PER 1000': 'ap_exams_per_1000',
    '11TH & 12TH GRADERS**': 'grade_11_12_count',
    '% OF SCORES 3 OR ABOVE': 'pct_score_3_or_above'
}, inplace=True)
df

,index,index_col,Unnamed: 1,11TH & 12TH GRADE,exams_per_1000_students,ap_exams_per_1000,Unnamed: 5,pct_score_3_or_above
0,0,NaN,STATE,ENROLLMENT*,NaN,11TH & 12TH GRADERS**,11TH & 12TH GRADERS,NaN
1,1,NaN,NaN,NaN,2024 2025 2024 2025,2024 2025,2024-2025,2024 2025
2,2,Alabama,NaN,"117,803","31,027 32,017 58,015 60,120",429 417,-12,57.1% 63.7%
3,3,Alaska,NaN,"20,383","4,199 4,646 6,801 7,996",261 267,6,63.3% 68.0%
4,4,Arizona,NaN,"201,966","45,686 48,010 85,552 92,145",324 335,11,65.9% 70.9%
5,5,Arkansas,NaN,"76,505","28,891 30,644 50,597 53,640",536 540,4,48.7% 54.3%
6,6,California,NaN,"1,026,753","435,853 456,275 863,709 919,983",641 722,81,67.7% 71.7%
7,7,Colorado,NaN,"149,565","56,546 58,681 99,442 104,911",501 526,25,68.8% 73.1%
8,8,Connecticut,NaN,"94,135","36,758 37,644 70,547 73,333",655 658,3,73.0% 78.8%
9,9,Delaware,NaN,"24,656","8,973 9,162 15,967 16,592",542 499,-43,61.5% 67.6%
10,10,District of Columbia,NaN,"14,714","6,936 7,784 13,816 15,460",993 845,-148,61.4% 64.5%
11,11,Florida,NaN,"511,419","219,999 229,587 417,656 450,953",549 625,76,64.5% 68.9%
12,12,Georgia,NaN,"281,994","112,184 117,809 218,669 232,506",554 554,0,69.6% 74.3%
13,13,Hawaii,NaN,"29,231","9,790 10,189 16,380 17,276",454 515,61,65.5% 70.4%
14,14,Idaho,NaN,"52,930","8,711 7,943 14,492 13,498",221 208,-13,68.7% 77.7%
15,15,Illinois,NaN,"310,511","139,761 148,739 254,070 277,038",625 694,69,68.1% 73.5%
16,16,Indiana,NaN,"174,664","54,346 56,672 93,115 99,432",418 455,37,62.5% 69.0%
17,17,Iowa,NaN,"86,513","13,459 14,190 20,684 22,190",179 187,8,70.3% 75.8%
18,18,Kansas,NaN,"77,892","11,039 11,871 18,518 19,848",192 205,13,73.9% 80.3%
19,19,Kentucky,NaN,"104,001","32,792 34,097 52,616 55,858",314 332,18,61.4% 67.0%
20,20,Louisiana,NaN,"116,115","26,876 25,753 40,749 40,396",242 235,-7,56.4% 66.1%
21,21,Maine,NaN,"32,725","7,602 7,907 13,195 13,974",342 369,27,68.2% 75.7%
22,22,Maryland,NaN,"152,871","75,163 81,045 140,454 157,338",653 753,100,67.4% 71.2%
23,23,Massachusetts,NaN,"162,717","73,809 76,568 146,485 155,131",771 841,70,71.3% 76.6%
24,24,Michigan,NaN,"231,750","70,914 74,222 125,261 133,513",423 462,39,69.8% 74.4%
25,25,Minnesota,NaN,"153,181","44,745 47,454 73,787 78,559",319 343,24,72.5% 77.1%
26,26,Mississippi,NaN,"68,918","13,726 12,636 19,879 18,354",204 185,-19,46.5% 59.2%
27,27,Missouri,NaN,"146,053","29,751 31,242 50,123 52,891",256 286,30,70.0% 74.9%
28,28,Montana,NaN,"23,219","4,953 5,399 8,295 9,331",288 308,20,74.0% 76.9%
29,29,Nebraska,NaN,"55,165","10,803 11,977 17,412 19,727",223 251,28,66.3% 70.7%
30,30,Nevada,NaN,"79,841","25,332 27,365 42,071 45,961",357 395,38,56.6% 61.8%
31,31,New Hampshire,NaN,"33,240","7,405 7,752 12,612 13,501",351 357,6,73.9% 79.6%
32,32,New Jersey,NaN,"230,854","92,253 97,477 191,008 206,076",701 776,75,73.1% 77.7%
33,33,New Mexico,NaN,"50,593","11,654 11,938 18,882 19,709",322 316,-6,45.4% 50.7%
34,34,New York,NaN,"423,389","196,940 206,485 367,979 396,529",661 744,83,67.7% 73.6%
35,35,North Carolina,NaN,"247,228","93,149 99,461 174,450 190,260",515 543,28,66.8% 73.2%
36,36,North Dakota,NaN,"18,792","3,309 3,180 4,952 4,832",206 189,-17,69.5% 77.0%
37,37,Ohio,NaN,"277,958","73,136 75,796 130,267 136,392",401 393,-8,74.0% 78.7%
38,38,Oklahoma,NaN,"106,015","17,603 18,682 29,800 31,817",235 235,0,56.7% 62.7%
39,39,Oregon,NaN,"98,704","23,046 24,175 38,116 41,464",282 323,41,67.5% 73.3%
40,40,Pennsylvania,NaN,"300,929","81,806 85,949 151,443 161,727",407 442,35,73.0% 77.9%
41,41,Rhode Island,NaN,"25,194","8,393 8,586 15,593 16,389",559 583,24,64.2% 70.8%
42,42,South Carolina,NaN,"121,200","34,421 35,078 56,262 58,068",319 320,1,70.7% 76.7%
43,43,South Dakota,NaN,"22,289","3,827 4,171 6,083 6,728",204 223,19,73.3% 79.2%
44,44,Tennessee,NaN,"165,967","46,201 47,999 80,744 84,137",370 377,7,66.9% 72.9%
45,45,Texas,NaN,"836,003","381,057 408,024 713,059 785,938",597 651,54,54.1% 59.2%
46,46,Utah,NaN,"111,692","34,226 35,802 51,517 54,264",288 304,16,72.7% 77.0%
47,47,Vermont,NaN,"13,662","3,371 3,547 5,934 6,333",380 416,36,73.7% 80.1%
48,48,Virginia,NaN,"212,730","84,655 90,762 174,454 189,144",654 682,28,71.3% 76.3%
49,49,Washington,NaN,"192,534","57,774 59,649 104,179 110,140",364 379,15,72.1% 77.3%
50,50,West Virginia,NaN,"36,977","6,485 6,504 10,349 10,183",226 216,-10,58.9% 64.5%
51,51,Wisconsin,NaN,"145,830","51,868 53,798 88,345 93,882",478 513,35,72.1% 77.9%
52,52,Wyoming,NaN,"14,202","2,260 2,306 3,439 3,406",194 186,-8,68.9% 75.7%
53,53,Total,NaN,NaN,NaN,NaN,NaN,NaN
54,54,TOTAL (U.S.),NaN,"8,264,172","2,955,463 3,104,649 5,477,824 5,878,873",500 539,39,66.0% 71.0%
55,55,NON U.S./U.S. TERR/CAN,NaN,NaN,"123,671 139,330 266,435 303,298",NaN,NaN,79.2% 78.5%
56,56,GRAND TOTAL,NaN,"8,264,172","3,079,134 3,243,979 5,744,259 6,182,171",NaN,NaN,66.6% 71.4%

In [31]:
# Drop the index columns that aren't needed
df = df.drop(columns=['index', 'index_col'])

print("After dropping index columns:")
print(df.head())

After dropping index columns:
  Unnamed: 1 11TH & 12TH GRADE      exams_per_1000_students  \
0      STATE       ENROLLMENT*                          NaN
1        NaN               NaN          2024 2025 2024 2025
2        NaN           117,803  31,027 32,017 58,015 60,120
3        NaN            20,383      4,199 4,646 6,801 7,996
4        NaN           201,966  45,686 48,010 85,552 92,145

       ap_exams_per_1000           Unnamed: 5 pct_score_3_or_above
0  11TH & 12TH GRADERS**  11TH & 12TH GRADERS                  NaN
1              2024 2025            2024-2025            2024 2025
2                429 417                  -12          57.1% 63.7%
3                261 267                    6          63.3% 68.0%
4                324 335                   11          65.9% 70.9%

In [32]:
# Row 0 is just column headers repeated as data
df = df[df['state'] != 'STATE']
df = df.reset_index(drop=True)

print("After removing header row:")
print(df.head())

KeyError: 'state'

In [33]:
# First, let's see what we actually have
print("Current columns:")
print(df.columns.tolist())
print("\nFirst few rows:")
print(df.head())
print("\nData types:")
print(df.dtypes)

Current columns:
['Unnamed: 1', '11TH & 12TH GRADE', 'exams_per_1000_students', 'ap_exams_per_1000', 'Unnamed: 5', 'pct_score_3_or_above']

First few rows:
  Unnamed: 1 11TH & 12TH GRADE      exams_per_1000_students  \
0      STATE       ENROLLMENT*                          NaN
1        NaN               NaN          2024 2025 2024 2025
2        NaN           117,803  31,027 32,017 58,015 60,120
3        NaN            20,383      4,199 4,646 6,801 7,996
4        NaN           201,966  45,686 48,010 85,552 92,145

       ap_exams_per_1000           Unnamed: 5 pct_score_3_or_above
0  11TH & 12TH GRADERS**  11TH & 12TH GRADERS                  NaN
1              2024 2025            2024-2025            2024 2025
2                429 417                  -12          57.1% 63.7%
3                261 267                    6          63.3% 68.0%
4                324 335                   11          65.9% 70.9%

Data types:
Unnamed: 1                 str
11TH & 12TH GRADE          str
exams_per_1000_students    str
ap_exams_per_1000          str
Unnamed: 5                 str
pct_score_3_or_above       str
dtype: object

In [34]:
# First, let's understand what we have
# It looks like some columns have 2024 data and 2025 data side-by-side

# Let's split the data manually into 2024 and 2025 datasets

# Create 2024 dataset
df_2024 = df[['state', 'hs_enrollment']].copy()
df_2024['year'] = 2024

# You'll need to parse the multi-value columns
# For now, let's just keep the structure simple and work with what we can see clearly

# Check which columns have actual data vs labels
print("\nColumn 'exams_per_1000_students' sample:")
print(df['exams_per_1000_students'].head())

print("\nColumn 'ap_exams_per_1000' sample:")
print(df['ap_exams_per_1000'].head())

print("\nColumn 'pct_score_3_or_above' sample:")
print(df['pct_score_3_or_above'].head())

KeyError: "None of [Index(['state', 'hs_enrollment'], dtype='str')] are in the [columns]"

In [95]:
import pandas as pd
import numpy as np

# ===== LOAD DATA FRESH =====
df = pd.read_csv('/Users/alanadams/Downloads/DS3 project/ap_state_2024.csv')

print("="*50)
print("ORIGINAL DATA")
print("="*50)
print("Shape:", df.shape)
print("\nColumns:", df.columns.tolist())
print("\nFirst 5 rows:")
print(df.head())

# ===== STEP 1: RENAME COLUMNS =====
# Create a mapping of old names to new names
rename_dict = {}

# Go through each column and create clean names
for col in df.columns:
    if 'Unnamed: 0' in str(col):
        rename_dict[col] = 'index_col'
    elif 'STATE' in str(col).upper() and 'EXAM' not in str(col).upper():
        rename_dict[col] = 'state'
    elif 'ENROLLMENT' in str(col).upper():
        rename_dict[col] = 'hs_enrollment'
    elif 'EXAM CHG' in str(col).upper():
        rename_dict[col] = 'exams_per_1000_students'
    elif 'AP EXAMS PER 1000' in str(col).upper():
        rename_dict[col] = 'ap_exams_per_1000'
    elif 'GRADERS' in str(col).upper():
        rename_dict[col] = 'grade_11_12_count'
    elif 'SCORES 3' in str(col).upper():
        rename_dict[col] = 'pct_score_3_or_above'

df.rename(columns=rename_dict, inplace=True)

print("\n" + "="*50)
print("AFTER RENAMING")
print("="*50)
print("Columns:", df.columns.tolist())
print("\nFirst 5 rows:")
print(df.head())

# ===== STEP 2: REMOVE HEADER ROWS (SAFE VERSION) =====
# Check if 'state' column exists
if 'state' in df.columns:
    print("\n" + "="*50)
    print("REMOVING HEADER ROWS")
    print("="*50)
    
    # Remove rows where state is 'STATE' or NaN
    initial_rows = len(df)
    df = df[df['state'].astype(str) != 'STATE']
    df = df[df['state'].notna()]
    df = df.reset_index(drop=True)
    
    print(f"Removed {initial_rows - len(df)} rows")
    print("\nFirst 5 rows after cleaning:")
    print(df.head())
else:
    print("\nWARNING: 'state' column not found after renaming!")
    print("Skipping header row removal")

# ===== STEP 3: DROP UNNECESSARY COLUMNS =====
print("\n" + "="*50)
print("DROPPING UNNECESSARY COLUMNS")
print("="*50)

cols_to_drop = ['index_col']
# Also drop any 'Unnamed' columns that weren't renamed
cols_to_drop.extend([col for col in df.columns if 'Unnamed' in str(col)])

for col in cols_to_drop:
    if col in df.columns:
        df = df.drop(columns=[col])
        print(f"Dropped: {col}")

print("\nRemaining columns:", df.columns.tolist())

# ===== STEP 4: INSPECT DATA TYPES =====
print("\n" + "="*50)
print("DATA TYPES")
print("="*50)
print(df.dtypes)

# ===== STEP 5: CHECK FOR MISSING VALUES =====
print("\n" + "="*50)
print("MISSING VALUES")
print("="*50)
missing_counts = df.isnull().sum()
missing_pct = (df.isnull().sum() / len(df) * 100).round(2)
missing_df = pd.DataFrame({
    'Column': missing_counts.index,
    'Missing Count': missing_counts.values,
    'Missing %': missing_pct.values
})
print(missing_df)

# ===== FINAL RESULT =====
print("\n" + "="*50)
print("CLEANED DATAFRAME")
print("="*50)
print("Shape:", df.shape)
print("\nFirst 10 rows:")
print(df.head(10))
print("\nLast 5 rows:")
print(df.tail())

# Save cleaned version
df.to_csv('ap_state_2024_cleaned.csv', index=False)
print("\n✅ Saved to 'ap_state_2024_cleaned.csv'")

==================================================
ORIGINAL DATA
==================================================
Shape: (57, 7)

Columns: ['Unnamed: 0', 'Unnamed: 1', '11TH & 12TH GRADE', 'EXAM CHG PER 1000 TOTAL AP STUDENTS TOTAL AP EXAMS', 'AP EXAMS PER 1000', 'Unnamed: 5', '% OF SCORES 3 OR ABOVE']

First 5 rows:
  Unnamed: 0 Unnamed: 1 11TH & 12TH GRADE  \
0        NaN      STATE       ENROLLMENT*
1        NaN        NaN               NaN
2    Alabama        NaN           117,803
3     Alaska        NaN            20,383
4    Arizona        NaN           201,966

  EXAM CHG PER 1000 TOTAL AP STUDENTS TOTAL AP EXAMS      AP EXAMS PER 1000  \
0                                                NaN  11TH & 12TH GRADERS**
1                                2024 2025 2024 2025              2024 2025
2                        31,027 32,017 58,015 60,120                429 417
3                            4,199 4,646 6,801 7,996                261 267
4                        45,686 48,010 85,552 92,145                324 335

            Unnamed: 5 % OF SCORES 3 OR ABOVE
0  11TH & 12TH GRADERS                    NaN
1            2024-2025              2024 2025
2                  -12            57.1% 63.7%
3                    6            63.3% 68.0%
4                   11            65.9% 70.9%

==================================================
AFTER RENAMING
==================================================
Columns: ['index_col', 'Unnamed: 1', '11TH & 12TH GRADE', 'exams_per_1000_students', 'ap_exams_per_1000', 'Unnamed: 5', 'pct_score_3_or_above']

First 5 rows:
  index_col Unnamed: 1 11TH & 12TH GRADE      exams_per_1000_students  \
0       NaN      STATE       ENROLLMENT*                          NaN
1       NaN        NaN               NaN          2024 2025 2024 2025
2   Alabama        NaN           117,803  31,027 32,017 58,015 60,120
3    Alaska        NaN            20,383      4,199 4,646 6,801 7,996
4   Arizona        NaN           201,966  45,686 48,010 85,552 92,145

       ap_exams_per_1000           Unnamed: 5 pct_score_3_or_above
0  11TH & 12TH GRADERS**  11TH & 12TH GRADERS                  NaN
1              2024 2025            2024-2025            2024 2025
2                429 417                  -12          57.1% 63.7%
3                261 267                    6          63.3% 68.0%
4                324 335                   11          65.9% 70.9%

WARNING: 'state' column not found after renaming!
Skipping header row removal

==================================================
DROPPING UNNECESSARY COLUMNS
==================================================
Dropped: index_col
Dropped: Unnamed: 1
Dropped: Unnamed: 5

Remaining columns: ['11TH & 12TH GRADE', 'exams_per_1000_students', 'ap_exams_per_1000', 'pct_score_3_or_above']

==================================================
DATA TYPES
==================================================
11TH & 12TH GRADE          str
exams_per_1000_students    str
ap_exams_per_1000          str
pct_score_3_or_above       str
dtype: object

==================================================
MISSING VALUES
==================================================
                    Column  Missing Count  Missing %
0        11TH & 12TH GRADE              3       5.26
1  exams_per_1000_students              2       3.51
2        ap_exams_per_1000              3       5.26
3     pct_score_3_or_above              2       3.51

==================================================
CLEANED DATAFRAME
==================================================
Shape: (57, 4)

First 10 rows:
  11TH & 12TH GRADE          exams_per_1000_students      ap_exams_per_1000  \
0       ENROLLMENT*                              NaN  11TH & 12TH GRADERS**
1               NaN              2024 2025 2024 2025              2024 2025
2           117,803      31,027 32,017 58,015 60,120                429 417
3            20,383          4,199 4,646 6,801 7,996                261 267
4           201,966      45,686 48,010 85,552 92,145                324 335
5            76,505      28,891 30,644 50,597 53,640                536 540
6         1,026,753  435,853 456,275 863,709 919,983                641 722
7           149,565     56,546 58,681 99,442 104,911                501 526
8            94,135      36,758 37,644 70,547 73,333                655 658
9            24,656        8,973 9,162 15,967 16,592                542 499

  pct_score_3_or_above
0                  NaN
1            2024 2025
2          57.1% 63.7%
3          63.3% 68.0%
4          65.9% 70.9%
5          48.7% 54.3%
6          67.7% 71.7%
7          68.8% 73.1%
8          73.0% 78.8%
9          61.5% 67.6%

Last 5 rows:
   11TH & 12TH GRADE                  exams_per_1000_students  \
52            14,202                  2,260 2,306 3,439 3,406
53               NaN                                      NaN
54         8,264,172  2,955,463 3,104,649 5,477,824 5,878,873
55               NaN          123,671 139,330 266,435 303,298
56         8,264,172  3,079,134 3,243,979 5,744,259 6,182,171

   ap_exams_per_1000 pct_score_3_or_above
52           194 186          68.9% 75.7%
53               NaN                  NaN
54           500 539          66.0% 71.0%
55               NaN          79.2% 78.5%
56               NaN          66.6% 71.4%

✅ Saved to 'ap_state_2024_cleaned.csv'

In [96]:
import pandas as pd
import numpy as np

# Load the saved cleaned version
df = pd.read_csv('ap_state_2024_cleaned.csv')

print("Original shape:", df.shape)
print("\nColumns:", df.columns.tolist())

# ===== IDENTIFY THE COLUMN STRUCTURE =====
# Based on your screenshot, the columns are:
# - Unnamed: 0, Unnamed: 1, 11TH & 12TH GRADE (has state names and enrollment)
# - EXAM CHG PER 1000... (has multi-year exam data)
# - AP EXAMS PER 1000 (has year labels: 2024 2025)
# - Unnamed: 5 (has more labels)
# - % OF SCORES 3 OR ABOVE (has percentages for both years)

# Let's work with what we can parse clearly

# ===== CREATE 2024 DATASET =====
df_2024 = pd.DataFrame()

# Extract state names (they're in 'Unnamed: 0' column, starting from row 2)
df_2024['state'] = df.iloc[2:, 0].values

# Extract 2024 enrollment (from '11TH & 12TH GRADE' column, row 2+)
df_2024['hs_enrollment'] = df.iloc[2:, 2].values

# Add year column
df_2024['year'] = 2024

# For the multi-value columns, we need to parse them
# Example: row has "31,027 32,017 58,015 60,120" for exam data
# This appears to be: [2024_metric1, 2025_metric1, 2024_metric2, 2025_metric2]

# Get the exam column (column index 3)
exam_col_name = df.columns[3]  # 'EXAM CHG PER 1000...'

# Extract 2024 exam data (we'll parse the strings)
# For now, let's just keep it simple and get the data structure right

# Reset index
df_2024 = df_2024.reset_index(drop=True)

# Remove NaN states
df_2024 = df_2024[df_2024['state'].notna()]
df_2024 = df_2024[df_2024['state'] != 'NaN']
df_2024 = df_2024[df_2024['state'] != 'nan']

print("\n" + "="*50)
print("2024 DATASET")
print("="*50)
print("Shape:", df_2024.shape)
print("\nFirst 10 rows:")
print(df_2024.head(10))

# ===== CREATE 2025 DATASET (same structure) =====
df_2025 = pd.DataFrame()
df_2025['state'] = df.iloc[2:, 0].values
df_2025['hs_enrollment'] = df.iloc[2:, 2].values  # You may need different column for 2025
df_2025['year'] = 2025
df_2025 = df_2025.reset_index(drop=True)
df_2025 = df_2025[df_2025['state'].notna()]
df_2025 = df_2025[df_2025['state'] != 'NaN']
df_2025 = df_2025[df_2025['state'] != 'nan']

print("\n" + "="*50)
print("2025 DATASET")
print("="*50)
print("Shape:", df_2025.shape)
print("\nFirst 10 rows:")
print(df_2025.head(10))

# ===== COMBINE BOTH YEARS =====
df_long = pd.concat([df_2024, df_2025], ignore_index=True)
df_long = df_long.sort_values(['state', 'year']).reset_index(drop=True)

print("\n" + "="*50)
print("COMBINED LONG FORMAT")
print("="*50)
print("Shape:", df_long.shape)
print("\nFirst 15 rows (should show each state twice - 2024 and 2025):")
print(df_long.head(15))

# Clean up data types
df_long['hs_enrollment'] = df_long['hs_enrollment'].astype(str).str.replace(',', '')
df_long['hs_enrollment'] = pd.to_numeric(df_long['hs_enrollment'], errors='coerce')

# Save
df_long.to_csv('ap_state_long_format.csv', index=False)
print("\n✅ Saved to 'ap_state_long_format.csv'")

print("\n" + "="*50)
print("SUMMARY")
print("="*50)
print(f"Total rows: {len(df_long)}")
print(f"Unique states: {df_long['state'].nunique()}")
print(f"Years covered: {sorted(df_long['year'].unique())}")

Original shape: (57, 4)

Columns: ['11TH & 12TH GRADE', 'exams_per_1000_students', 'ap_exams_per_1000', 'pct_score_3_or_above']

==================================================
2024 DATASET
==================================================
Shape: (53, 3)

First 10 rows:
       state hs_enrollment  year
0    117,803       429 417  2024
1     20,383       261 267  2024
2    201,966       324 335  2024
3     76,505       536 540  2024
4  1,026,753       641 722  2024
5    149,565       501 526  2024
6     94,135       655 658  2024
7     24,656       542 499  2024
8     14,714       993 845  2024
9    511,419       549 625  2024

==================================================
2025 DATASET
==================================================
Shape: (53, 3)

First 10 rows:
       state hs_enrollment  year
0    117,803       429 417  2025
1     20,383       261 267  2025
2    201,966       324 335  2025
3     76,505       536 540  2025
4  1,026,753       641 722  2025
5    149,565       501 526  2025
6     94,135       655 658  2025
7     24,656       542 499  2025
8     14,714       993 845  2025
9    511,419       549 625  2025

==================================================
COMBINED LONG FORMAT
==================================================
Shape: (106, 3)

First 15 rows (should show each state twice - 2024 and 2025):
        state hs_enrollment  year
0   1,026,753       641 722  2024
1   1,026,753       641 722  2025
2     104,001       314 332  2024
3     104,001       314 332  2025
4     106,015       235 235  2024
5     106,015       235 235  2025
6     111,692       288 304  2024
7     111,692       288 304  2025
8     116,115       242 235  2024
9     116,115       242 235  2025
10    117,803       429 417  2024
11    117,803       429 417  2025
12    121,200       319 320  2024
13    121,200       319 320  2025
14     13,662       380 416  2024

✅ Saved to 'ap_state_long_format.csv'

==================================================
SUMMARY
==================================================
Total rows: 106
Unique states: 52
Years covered: [np.int64(2024), np.int64(2025)]

In [97]:
df

,11TH & 12TH GRADE,exams_per_1000_students,ap_exams_per_1000,pct_score_3_or_above
0,ENROLLMENT*,NaN,11TH & 12TH GRADERS**,NaN
1,NaN,2024 2025 2024 2025,2024 2025,2024 2025
2,"117,803","31,027 32,017 58,015 60,120",429 417,57.1% 63.7%
3,"20,383","4,199 4,646 6,801 7,996",261 267,63.3% 68.0%
4,"201,966","45,686 48,010 85,552 92,145",324 335,65.9% 70.9%
5,"76,505","28,891 30,644 50,597 53,640",536 540,48.7% 54.3%
6,"1,026,753","435,853 456,275 863,709 919,983",641 722,67.7% 71.7%
7,"149,565","56,546 58,681 99,442 104,911",501 526,68.8% 73.1%
8,"94,135","36,758 37,644 70,547 73,333",655 658,73.0% 78.8%
9,"24,656","8,973 9,162 15,967 16,592",542 499,61.5% 67.6%
10,"14,714","6,936 7,784 13,816 15,460",993 845,61.4% 64.5%
11,"511,419","219,999 229,587 417,656 450,953",549 625,64.5% 68.9%
12,"281,994","112,184 117,809 218,669 232,506",554 554,69.6% 74.3%
13,"29,231","9,790 10,189 16,380 17,276",454 515,65.5% 70.4%
14,"52,930","8,711 7,943 14,492 13,498",221 208,68.7% 77.7%
15,"310,511","139,761 148,739 254,070 277,038",625 694,68.1% 73.5%
16,"174,664","54,346 56,672 93,115 99,432",418 455,62.5% 69.0%
17,"86,513","13,459 14,190 20,684 22,190",179 187,70.3% 75.8%
18,"77,892","11,039 11,871 18,518 19,848",192 205,73.9% 80.3%
19,"104,001","32,792 34,097 52,616 55,858",314 332,61.4% 67.0%
20,"116,115","26,876 25,753 40,749 40,396",242 235,56.4% 66.1%
21,"32,725","7,602 7,907 13,195 13,974",342 369,68.2% 75.7%
22,"152,871","75,163 81,045 140,454 157,338",653 753,67.4% 71.2%
23,"162,717","73,809 76,568 146,485 155,131",771 841,71.3% 76.6%
24,"231,750","70,914 74,222 125,261 133,513",423 462,69.8% 74.4%
25,"153,181","44,745 47,454 73,787 78,559",319 343,72.5% 77.1%
26,"68,918","13,726 12,636 19,879 18,354",204 185,46.5% 59.2%
27,"146,053","29,751 31,242 50,123 52,891",256 286,70.0% 74.9%
28,"23,219","4,953 5,399 8,295 9,331",288 308,74.0% 76.9%
29,"55,165","10,803 11,977 17,412 19,727",223 251,66.3% 70.7%
30,"79,841","25,332 27,365 42,071 45,961",357 395,56.6% 61.8%
31,"33,240","7,405 7,752 12,612 13,501",351 357,73.9% 79.6%
32,"230,854","92,253 97,477 191,008 206,076",701 776,73.1% 77.7%
33,"50,593","11,654 11,938 18,882 19,709",322 316,45.4% 50.7%
34,"423,389","196,940 206,485 367,979 396,529",661 744,67.7% 73.6%
35,"247,228","93,149 99,461 174,450 190,260",515 543,66.8% 73.2%
36,"18,792","3,309 3,180 4,952 4,832",206 189,69.5% 77.0%
37,"277,958","73,136 75,796 130,267 136,392",401 393,74.0% 78.7%
38,"106,015","17,603 18,682 29,800 31,817",235 235,56.7% 62.7%
39,"98,704","23,046 24,175 38,116 41,464",282 323,67.5% 73.3%
40,"300,929","81,806 85,949 151,443 161,727",407 442,73.0% 77.9%
41,"25,194","8,393 8,586 15,593 16,389",559 583,64.2% 70.8%
42,"121,200","34,421 35,078 56,262 58,068",319 320,70.7% 76.7%
43,"22,289","3,827 4,171 6,083 6,728",204 223,73.3% 79.2%
44,"165,967","46,201 47,999 80,744 84,137",370 377,66.9% 72.9%
45,"836,003","381,057 408,024 713,059 785,938",597 651,54.1% 59.2%
46,"111,692","34,226 35,802 51,517 54,264",288 304,72.7% 77.0%
47,"13,662","3,371 3,547 5,934 6,333",380 416,73.7% 80.1%
48,"212,730","84,655 90,762 174,454 189,144",654 682,71.3% 76.3%
49,"192,534","57,774 59,649 104,179 110,140",364 379,72.1% 77.3%
50,"36,977","6,485 6,504 10,349 10,183",226 216,58.9% 64.5%
51,"145,830","51,868 53,798 88,345 93,882",478 513,72.1% 77.9%
52,"14,202","2,260 2,306 3,439 3,406",194 186,68.9% 75.7%
53,NaN,NaN,NaN,NaN
54,"8,264,172","2,955,463 3,104,649 5,477,824 5,878,873",500 539,66.0% 71.0%
55,NaN,"123,671 139,330 266,435 303,298",NaN,79.2% 78.5%
56,"8,264,172","3,079,134 3,243,979 5,744,259 6,182,171",NaN,66.6% 71.4%

In [122]:
import pandas as pd
import numpy as np

# Load fresh
df = pd.read_csv('/Users/alanadams/Downloads/DS3 project/ap_state_2024.csv')

# ===== STEP 1: IDENTIFY THE ACTUAL DATA ROWS =====
# Row 0 = headers
# Row 1 = sub-headers with years (2024 2025)
# Row 2+ = actual state data

# Extract column positions for each metric
state_col = df.columns[0]  # 'Unnamed: 0'
enrollment_col = df.columns[2]  # '11TH & 12TH GRADE ENROLLMENT*'

# ===== STEP 2: BUILD CLEAN 2024 DATAFRAME =====
df_2024 = pd.DataFrame()

# Get states (skip first 2 header rows)
df_2024['state'] = df[state_col].iloc[2:].values

# Get 2024 enrollment 
df_2024['hs_enrollment'] = df[enrollment_col].iloc[2:].values

df_2024['year'] = 2024

# Clean: remove NaN/empty states
df_2024 = df_2024[df_2024['state'].notna()]
df_2024 = df_2024[~df_2024['state'].astype(str).isin(['nan', 'NaN', '', 'STATE'])]
df_2024 = df_2024.reset_index(drop=True)

# ===== STEP 3: BUILD CLEAN 2025 DATAFRAME =====
df_2025 = pd.DataFrame()
df_2025['state'] = df[state_col].iloc[2:].values
df_2025['hs_enrollment'] = df[enrollment_col].iloc[2:].values
df_2025['year'] = 2025

df_2025 = df_2025[df_2025['state'].notna()]
df_2025 = df_2025[~df_2025['state'].astype(str).isin(['nan', 'NaN', '', 'STATE'])]
df_2025 = df_2025.reset_index(drop=True)

# ===== STEP 4: CONCATENATE INTO LONG FORMAT =====
df = pd.concat([df_2024, df_2025], ignore_index=True)
df = df.sort_values(['state', 'year']).reset_index(drop=True)

# ===== STEP 5: CLEAN DATA TYPES =====
# Clean enrollment: remove commas, convert to numeric
df['hs_enrollment'] = df['hs_enrollment'].astype(str).str.replace(',', '').str.strip()
df['hs_enrollment'] = pd.to_numeric(df['hs_enrollment'], errors='coerce')

# Clean state names: strip whitespace
df['state'] = df['state'].astype(str).str.strip()

# ===== STEP 6: ADD MORE COLUMNS (PARSE MULTI-VALUE FIELDS) =====
# Now we need to parse the exam data columns that have multiple values

# ===== STEP 6: ADD MORE COLUMNS (PARSE MULTI-VALUE FIELDS) =====
# Reload original to parse the complex columns
df_orig = pd.read_csv('/Users/alanadams/Downloads/DS3 project/ap_state_2024.csv')

# Get the exam column (has format like "31,027 32,017 58,015 60,120")
exam_col = df_orig.columns[3]  # 'EXAM CHG PER 1000...'
score_col = df_orig.columns[6]  # '% OF SCORES 3 OR ABOVE'

# Extract values for each state (skip header rows)
exam_values = df_orig[exam_col].iloc[2:].values
score_values = df_orig[score_col].iloc[2:].values

# Parse exam values (split by spaces)
exam_2024 = []
exam_2025 = []

for val in exam_values:
    if pd.isna(val) or str(val).strip() == '':
        exam_2024.append(np.nan)
        exam_2025.append(np.nan)
    else:
        parts = str(val).split()
        # Assuming first value is 2024, second is 2025
        exam_2024.append(parts[0] if len(parts) > 0 else np.nan)
        exam_2025.append(parts[1] if len(parts) > 1 else np.nan)

# Parse score values (format like "57.1% 63.7%")
score_2024 = []
score_2025 = []

for val in score_values:
    if pd.isna(val) or str(val).strip() == '':
        score_2024.append(np.nan)
        score_2025.append(np.nan)
    else:
        parts = str(val).replace('%', '').split()
        score_2024.append(parts[0] if len(parts) > 0 else np.nan)
        score_2025.append(parts[1] if len(parts) > 1 else np.nan)

# Add these to the respective year dataframes
df_2024_full = df_2024.copy()
df_2024_full['total_ap_students'] = exam_2024
df_2024_full['pct_score_3_or_above'] = score_2024

df_2025_full = df_2025.copy()
df_2025_full['total_ap_students'] = exam_2025
df_2025_full['pct_score_3_or_above'] = score_2025

# Recombine
df = pd.concat([df_2024_full, df_2025_full], ignore_index=True)
df = df.sort_values(['state', 'year']).reset_index(drop=True)

# Clean numeric columns
df['total_ap_students'] = df['total_ap_students'].astype(str).str.replace(',', '').str.strip()
df['total_ap_students'] = pd.to_numeric(df['total_ap_students'], errors='coerce')

df['pct_score_3_or_above'] = pd.to_numeric(df['pct_score_3_or_above'], errors='coerce')

In [123]:
df

,state,hs_enrollment,year,total_ap_students,pct_score_3_or_above
0,Alabama,"117,803",2024,31027.0,57.1
1,Alabama,"117,803",2025,32017.0,63.7
2,Alaska,"20,383",2024,4199.0,63.3
3,Alaska,"20,383",2025,4646.0,68.0
4,Arizona,"201,966",2024,45686.0,65.9
...,...,...,...,...,...
105,West Virginia,"36,977",2025,6504.0,64.5
106,Wisconsin,"145,830",2024,51868.0,72.1
107,Wisconsin,"145,830",2025,53798.0,77.9
108,Wyoming,"14,202",2024,2260.0,68.9
109,Wyoming,"14,202",2025,2306.0,75.7

In [124]:
df_2024 = df[df['year'] == 2024]
df_2024

,state,hs_enrollment,year,total_ap_students,pct_score_3_or_above
0,Alabama,"117,803",2024,31027.0,57.1
2,Alaska,"20,383",2024,4199.0,63.3
4,Arizona,"201,966",2024,45686.0,65.9
6,Arkansas,"76,505",2024,28891.0,48.7
8,California,"1,026,753",2024,435853.0,67.7
10,Colorado,"149,565",2024,56546.0,68.8
12,Connecticut,"94,135",2024,36758.0,73.0
14,Delaware,"24,656",2024,8973.0,61.5
16,District of Columbia,"14,714",2024,6936.0,61.4
18,Florida,"511,419",2024,219999.0,64.5
20,GRAND TOTAL,"8,264,172",2024,3079134.0,66.6
22,Georgia,"281,994",2024,112184.0,69.6
24,Hawaii,"29,231",2024,9790.0,65.5
26,Idaho,"52,930",2024,8711.0,68.7
28,Illinois,"310,511",2024,139761.0,68.1
30,Indiana,"174,664",2024,54346.0,62.5
32,Iowa,"86,513",2024,13459.0,70.3
34,Kansas,"77,892",2024,11039.0,73.9
36,Kentucky,"104,001",2024,32792.0,61.4
38,Louisiana,"116,115",2024,26876.0,56.4
40,Maine,"32,725",2024,7602.0,68.2
42,Maryland,"152,871",2024,75163.0,67.4
44,Massachusetts,"162,717",2024,73809.0,71.3
46,Michigan,"231,750",2024,70914.0,69.8
48,Minnesota,"153,181",2024,44745.0,72.5
50,Mississippi,"68,918",2024,13726.0,46.5
52,Missouri,"146,053",2024,29751.0,70.0
54,Montana,"23,219",2024,4953.0,74.0
56,NON U.S./U.S. TERR/CAN,NaN,2024,123671.0,79.2
58,Nebraska,"55,165",2024,10803.0,66.3
60,Nevada,"79,841",2024,25332.0,56.6
62,New Hampshire,"33,240",2024,7405.0,73.9
64,New Jersey,"230,854",2024,92253.0,73.1
66,New Mexico,"50,593",2024,11654.0,45.4
68,New York,"423,389",2024,196940.0,67.7
70,North Carolina,"247,228",2024,93149.0,66.8
72,North Dakota,"18,792",2024,3309.0,69.5
74,Ohio,"277,958",2024,73136.0,74.0
76,Oklahoma,"106,015",2024,17603.0,56.7
78,Oregon,"98,704",2024,23046.0,67.5
80,Pennsylvania,"300,929",2024,81806.0,73.0
82,Rhode Island,"25,194",2024,8393.0,64.2
84,South Carolina,"121,200",2024,34421.0,70.7
86,South Dakota,"22,289",2024,3827.0,73.3
88,TOTAL (U.S.),"8,264,172",2024,2955463.0,66.0
90,Tennessee,"165,967",2024,46201.0,66.9
92,Texas,"836,003",2024,381057.0,54.1
94,Total,NaN,2024,NaN,NaN
96,Utah,"111,692",2024,34226.0,72.7
98,Vermont,"13,662",2024,3371.0,73.7
100,Virginia,"212,730",2024,84655.0,71.3
102,Washington,"192,534",2024,57774.0,72.1
104,West Virginia,"36,977",2024,6485.0,58.9
106,Wisconsin,"145,830",2024,51868.0,72.1
108,Wyoming,"14,202",2024,2260.0,68.9

In [126]:
df_reset = df_2024.reset_index()
df_reset

,index,state,hs_enrollment,year,total_ap_students,pct_score_3_or_above
0,0,Alabama,"117,803",2024,31027.0,57.1
1,2,Alaska,"20,383",2024,4199.0,63.3
2,4,Arizona,"201,966",2024,45686.0,65.9
3,6,Arkansas,"76,505",2024,28891.0,48.7
4,8,California,"1,026,753",2024,435853.0,67.7
5,10,Colorado,"149,565",2024,56546.0,68.8
6,12,Connecticut,"94,135",2024,36758.0,73.0
7,14,Delaware,"24,656",2024,8973.0,61.5
8,16,District of Columbia,"14,714",2024,6936.0,61.4
9,18,Florida,"511,419",2024,219999.0,64.5
10,20,GRAND TOTAL,"8,264,172",2024,3079134.0,66.6
11,22,Georgia,"281,994",2024,112184.0,69.6
12,24,Hawaii,"29,231",2024,9790.0,65.5
13,26,Idaho,"52,930",2024,8711.0,68.7
14,28,Illinois,"310,511",2024,139761.0,68.1
15,30,Indiana,"174,664",2024,54346.0,62.5
16,32,Iowa,"86,513",2024,13459.0,70.3
17,34,Kansas,"77,892",2024,11039.0,73.9
18,36,Kentucky,"104,001",2024,32792.0,61.4
19,38,Louisiana,"116,115",2024,26876.0,56.4
20,40,Maine,"32,725",2024,7602.0,68.2
21,42,Maryland,"152,871",2024,75163.0,67.4
22,44,Massachusetts,"162,717",2024,73809.0,71.3
23,46,Michigan,"231,750",2024,70914.0,69.8
24,48,Minnesota,"153,181",2024,44745.0,72.5
25,50,Mississippi,"68,918",2024,13726.0,46.5
26,52,Missouri,"146,053",2024,29751.0,70.0
27,54,Montana,"23,219",2024,4953.0,74.0
28,56,NON U.S./U.S. TERR/CAN,NaN,2024,123671.0,79.2
29,58,Nebraska,"55,165",2024,10803.0,66.3
30,60,Nevada,"79,841",2024,25332.0,56.6
31,62,New Hampshire,"33,240",2024,7405.0,73.9
32,64,New Jersey,"230,854",2024,92253.0,73.1
33,66,New Mexico,"50,593",2024,11654.0,45.4
34,68,New York,"423,389",2024,196940.0,67.7
35,70,North Carolina,"247,228",2024,93149.0,66.8
36,72,North Dakota,"18,792",2024,3309.0,69.5
37,74,Ohio,"277,958",2024,73136.0,74.0
38,76,Oklahoma,"106,015",2024,17603.0,56.7
39,78,Oregon,"98,704",2024,23046.0,67.5
40,80,Pennsylvania,"300,929",2024,81806.0,73.0
41,82,Rhode Island,"25,194",2024,8393.0,64.2
42,84,South Carolina,"121,200",2024,34421.0,70.7
43,86,South Dakota,"22,289",2024,3827.0,73.3
44,88,TOTAL (U.S.),"8,264,172",2024,2955463.0,66.0
45,90,Tennessee,"165,967",2024,46201.0,66.9
46,92,Texas,"836,003",2024,381057.0,54.1
47,94,Total,NaN,2024,NaN,NaN
48,96,Utah,"111,692",2024,34226.0,72.7
49,98,Vermont,"13,662",2024,3371.0,73.7
50,100,Virginia,"212,730",2024,84655.0,71.3
51,102,Washington,"192,534",2024,57774.0,72.1
52,104,West Virginia,"36,977",2024,6485.0,58.9
53,106,Wisconsin,"145,830",2024,51868.0,72.1
54,108,Wyoming,"14,202",2024,2260.0,68.9

In [127]:
df_drop = df_reset.drop(columns=['index'])
df_drop

,state,hs_enrollment,year,total_ap_students,pct_score_3_or_above
0,Alabama,"117,803",2024,31027.0,57.1
1,Alaska,"20,383",2024,4199.0,63.3
2,Arizona,"201,966",2024,45686.0,65.9
3,Arkansas,"76,505",2024,28891.0,48.7
4,California,"1,026,753",2024,435853.0,67.7
5,Colorado,"149,565",2024,56546.0,68.8
6,Connecticut,"94,135",2024,36758.0,73.0
7,Delaware,"24,656",2024,8973.0,61.5
8,District of Columbia,"14,714",2024,6936.0,61.4
9,Florida,"511,419",2024,219999.0,64.5
10,GRAND TOTAL,"8,264,172",2024,3079134.0,66.6
11,Georgia,"281,994",2024,112184.0,69.6
12,Hawaii,"29,231",2024,9790.0,65.5
13,Idaho,"52,930",2024,8711.0,68.7
14,Illinois,"310,511",2024,139761.0,68.1
15,Indiana,"174,664",2024,54346.0,62.5
16,Iowa,"86,513",2024,13459.0,70.3
17,Kansas,"77,892",2024,11039.0,73.9
18,Kentucky,"104,001",2024,32792.0,61.4
19,Louisiana,"116,115",2024,26876.0,56.4
20,Maine,"32,725",2024,7602.0,68.2
21,Maryland,"152,871",2024,75163.0,67.4
22,Massachusetts,"162,717",2024,73809.0,71.3
23,Michigan,"231,750",2024,70914.0,69.8
24,Minnesota,"153,181",2024,44745.0,72.5
25,Mississippi,"68,918",2024,13726.0,46.5
26,Missouri,"146,053",2024,29751.0,70.0
27,Montana,"23,219",2024,4953.0,74.0
28,NON U.S./U.S. TERR/CAN,NaN,2024,123671.0,79.2
29,Nebraska,"55,165",2024,10803.0,66.3
30,Nevada,"79,841",2024,25332.0,56.6
31,New Hampshire,"33,240",2024,7405.0,73.9
32,New Jersey,"230,854",2024,92253.0,73.1
33,New Mexico,"50,593",2024,11654.0,45.4
34,New York,"423,389",2024,196940.0,67.7
35,North Carolina,"247,228",2024,93149.0,66.8
36,North Dakota,"18,792",2024,3309.0,69.5
37,Ohio,"277,958",2024,73136.0,74.0
38,Oklahoma,"106,015",2024,17603.0,56.7
39,Oregon,"98,704",2024,23046.0,67.5
40,Pennsylvania,"300,929",2024,81806.0,73.0
41,Rhode Island,"25,194",2024,8393.0,64.2
42,South Carolina,"121,200",2024,34421.0,70.7
43,South Dakota,"22,289",2024,3827.0,73.3
44,TOTAL (U.S.),"8,264,172",2024,2955463.0,66.0
45,Tennessee,"165,967",2024,46201.0,66.9
46,Texas,"836,003",2024,381057.0,54.1
47,Total,NaN,2024,NaN,NaN
48,Utah,"111,692",2024,34226.0,72.7
49,Vermont,"13,662",2024,3371.0,73.7
50,Virginia,"212,730",2024,84655.0,71.3
51,Washington,"192,534",2024,57774.0,72.1
52,West Virginia,"36,977",2024,6485.0,58.9
53,Wisconsin,"145,830",2024,51868.0,72.1
54,Wyoming,"14,202",2024,2260.0,68.9

In [128]:
df_drop = df_drop.drop(index=[10, 8, 28, 44])
df_drop

,state,hs_enrollment,year,total_ap_students,pct_score_3_or_above
0,Alabama,"117,803",2024,31027.0,57.1
1,Alaska,"20,383",2024,4199.0,63.3
2,Arizona,"201,966",2024,45686.0,65.9
3,Arkansas,"76,505",2024,28891.0,48.7
4,California,"1,026,753",2024,435853.0,67.7
5,Colorado,"149,565",2024,56546.0,68.8
6,Connecticut,"94,135",2024,36758.0,73.0
7,Delaware,"24,656",2024,8973.0,61.5
9,Florida,"511,419",2024,219999.0,64.5
11,Georgia,"281,994",2024,112184.0,69.6
12,Hawaii,"29,231",2024,9790.0,65.5
13,Idaho,"52,930",2024,8711.0,68.7
14,Illinois,"310,511",2024,139761.0,68.1
15,Indiana,"174,664",2024,54346.0,62.5
16,Iowa,"86,513",2024,13459.0,70.3
17,Kansas,"77,892",2024,11039.0,73.9
18,Kentucky,"104,001",2024,32792.0,61.4
19,Louisiana,"116,115",2024,26876.0,56.4
20,Maine,"32,725",2024,7602.0,68.2
21,Maryland,"152,871",2024,75163.0,67.4
22,Massachusetts,"162,717",2024,73809.0,71.3
23,Michigan,"231,750",2024,70914.0,69.8
24,Minnesota,"153,181",2024,44745.0,72.5
25,Mississippi,"68,918",2024,13726.0,46.5
26,Missouri,"146,053",2024,29751.0,70.0
27,Montana,"23,219",2024,4953.0,74.0
29,Nebraska,"55,165",2024,10803.0,66.3
30,Nevada,"79,841",2024,25332.0,56.6
31,New Hampshire,"33,240",2024,7405.0,73.9
32,New Jersey,"230,854",2024,92253.0,73.1
33,New Mexico,"50,593",2024,11654.0,45.4
34,New York,"423,389",2024,196940.0,67.7
35,North Carolina,"247,228",2024,93149.0,66.8
36,North Dakota,"18,792",2024,3309.0,69.5
37,Ohio,"277,958",2024,73136.0,74.0
38,Oklahoma,"106,015",2024,17603.0,56.7
39,Oregon,"98,704",2024,23046.0,67.5
40,Pennsylvania,"300,929",2024,81806.0,73.0
41,Rhode Island,"25,194",2024,8393.0,64.2
42,South Carolina,"121,200",2024,34421.0,70.7
43,South Dakota,"22,289",2024,3827.0,73.3
45,Tennessee,"165,967",2024,46201.0,66.9
46,Texas,"836,003",2024,381057.0,54.1
47,Total,NaN,2024,NaN,NaN
48,Utah,"111,692",2024,34226.0,72.7
49,Vermont,"13,662",2024,3371.0,73.7
50,Virginia,"212,730",2024,84655.0,71.3
51,Washington,"192,534",2024,57774.0,72.1
52,West Virginia,"36,977",2024,6485.0,58.9
53,Wisconsin,"145,830",2024,51868.0,72.1
54,Wyoming,"14,202",2024,2260.0,68.9

In [129]:
df_drop = df_drop.reset_index()
df_drop

,index,state,hs_enrollment,year,total_ap_students,pct_score_3_or_above
0,0,Alabama,"117,803",2024,31027.0,57.1
1,1,Alaska,"20,383",2024,4199.0,63.3
2,2,Arizona,"201,966",2024,45686.0,65.9
3,3,Arkansas,"76,505",2024,28891.0,48.7
4,4,California,"1,026,753",2024,435853.0,67.7
5,5,Colorado,"149,565",2024,56546.0,68.8
6,6,Connecticut,"94,135",2024,36758.0,73.0
7,7,Delaware,"24,656",2024,8973.0,61.5
8,9,Florida,"511,419",2024,219999.0,64.5
9,11,Georgia,"281,994",2024,112184.0,69.6
10,12,Hawaii,"29,231",2024,9790.0,65.5
11,13,Idaho,"52,930",2024,8711.0,68.7
12,14,Illinois,"310,511",2024,139761.0,68.1
13,15,Indiana,"174,664",2024,54346.0,62.5
14,16,Iowa,"86,513",2024,13459.0,70.3
15,17,Kansas,"77,892",2024,11039.0,73.9
16,18,Kentucky,"104,001",2024,32792.0,61.4
17,19,Louisiana,"116,115",2024,26876.0,56.4
18,20,Maine,"32,725",2024,7602.0,68.2
19,21,Maryland,"152,871",2024,75163.0,67.4
20,22,Massachusetts,"162,717",2024,73809.0,71.3
21,23,Michigan,"231,750",2024,70914.0,69.8
22,24,Minnesota,"153,181",2024,44745.0,72.5
23,25,Mississippi,"68,918",2024,13726.0,46.5
24,26,Missouri,"146,053",2024,29751.0,70.0
25,27,Montana,"23,219",2024,4953.0,74.0
26,29,Nebraska,"55,165",2024,10803.0,66.3
27,30,Nevada,"79,841",2024,25332.0,56.6
28,31,New Hampshire,"33,240",2024,7405.0,73.9
29,32,New Jersey,"230,854",2024,92253.0,73.1
30,33,New Mexico,"50,593",2024,11654.0,45.4
31,34,New York,"423,389",2024,196940.0,67.7
32,35,North Carolina,"247,228",2024,93149.0,66.8
33,36,North Dakota,"18,792",2024,3309.0,69.5
34,37,Ohio,"277,958",2024,73136.0,74.0
35,38,Oklahoma,"106,015",2024,17603.0,56.7
36,39,Oregon,"98,704",2024,23046.0,67.5
37,40,Pennsylvania,"300,929",2024,81806.0,73.0
38,41,Rhode Island,"25,194",2024,8393.0,64.2
39,42,South Carolina,"121,200",2024,34421.0,70.7
40,43,South Dakota,"22,289",2024,3827.0,73.3
41,45,Tennessee,"165,967",2024,46201.0,66.9
42,46,Texas,"836,003",2024,381057.0,54.1
43,47,Total,NaN,2024,NaN,NaN
44,48,Utah,"111,692",2024,34226.0,72.7
45,49,Vermont,"13,662",2024,3371.0,73.7
46,50,Virginia,"212,730",2024,84655.0,71.3
47,51,Washington,"192,534",2024,57774.0,72.1
48,52,West Virginia,"36,977",2024,6485.0,58.9
49,53,Wisconsin,"145,830",2024,51868.0,72.1
50,54,Wyoming,"14,202",2024,2260.0,68.9

In [130]:
df_drop = df_reset.drop(columns=['index'])
df_drop

,state,hs_enrollment,year,total_ap_students,pct_score_3_or_above
0,Alabama,"117,803",2024,31027.0,57.1
1,Alaska,"20,383",2024,4199.0,63.3
2,Arizona,"201,966",2024,45686.0,65.9
3,Arkansas,"76,505",2024,28891.0,48.7
4,California,"1,026,753",2024,435853.0,67.7
5,Colorado,"149,565",2024,56546.0,68.8
6,Connecticut,"94,135",2024,36758.0,73.0
7,Delaware,"24,656",2024,8973.0,61.5
8,District of Columbia,"14,714",2024,6936.0,61.4
9,Florida,"511,419",2024,219999.0,64.5
10,GRAND TOTAL,"8,264,172",2024,3079134.0,66.6
11,Georgia,"281,994",2024,112184.0,69.6
12,Hawaii,"29,231",2024,9790.0,65.5
13,Idaho,"52,930",2024,8711.0,68.7
14,Illinois,"310,511",2024,139761.0,68.1
15,Indiana,"174,664",2024,54346.0,62.5
16,Iowa,"86,513",2024,13459.0,70.3
17,Kansas,"77,892",2024,11039.0,73.9
18,Kentucky,"104,001",2024,32792.0,61.4
19,Louisiana,"116,115",2024,26876.0,56.4
20,Maine,"32,725",2024,7602.0,68.2
21,Maryland,"152,871",2024,75163.0,67.4
22,Massachusetts,"162,717",2024,73809.0,71.3
23,Michigan,"231,750",2024,70914.0,69.8
24,Minnesota,"153,181",2024,44745.0,72.5
25,Mississippi,"68,918",2024,13726.0,46.5
26,Missouri,"146,053",2024,29751.0,70.0
27,Montana,"23,219",2024,4953.0,74.0
28,NON U.S./U.S. TERR/CAN,NaN,2024,123671.0,79.2
29,Nebraska,"55,165",2024,10803.0,66.3
30,Nevada,"79,841",2024,25332.0,56.6
31,New Hampshire,"33,240",2024,7405.0,73.9
32,New Jersey,"230,854",2024,92253.0,73.1
33,New Mexico,"50,593",2024,11654.0,45.4
34,New York,"423,389",2024,196940.0,67.7
35,North Carolina,"247,228",2024,93149.0,66.8
36,North Dakota,"18,792",2024,3309.0,69.5
37,Ohio,"277,958",2024,73136.0,74.0
38,Oklahoma,"106,015",2024,17603.0,56.7
39,Oregon,"98,704",2024,23046.0,67.5
40,Pennsylvania,"300,929",2024,81806.0,73.0
41,Rhode Island,"25,194",2024,8393.0,64.2
42,South Carolina,"121,200",2024,34421.0,70.7
43,South Dakota,"22,289",2024,3827.0,73.3
44,TOTAL (U.S.),"8,264,172",2024,2955463.0,66.0
45,Tennessee,"165,967",2024,46201.0,66.9
46,Texas,"836,003",2024,381057.0,54.1
47,Total,NaN,2024,NaN,NaN
48,Utah,"111,692",2024,34226.0,72.7
49,Vermont,"13,662",2024,3371.0,73.7
50,Virginia,"212,730",2024,84655.0,71.3
51,Washington,"192,534",2024,57774.0,72.1
52,West Virginia,"36,977",2024,6485.0,58.9
53,Wisconsin,"145,830",2024,51868.0,72.1
54,Wyoming,"14,202",2024,2260.0,68.9

In [132]:
df_drop = df_drop.drop(index=[10, 8, 28, 44, 47]).reset_index().drop(columns=['index'])
df_drop

,state,hs_enrollment,year,total_ap_students,pct_score_3_or_above
0,Alabama,"117,803",2024,31027.0,57.1
1,Alaska,"20,383",2024,4199.0,63.3
2,Arizona,"201,966",2024,45686.0,65.9
3,Arkansas,"76,505",2024,28891.0,48.7
4,California,"1,026,753",2024,435853.0,67.7
5,Colorado,"149,565",2024,56546.0,68.8
6,Connecticut,"94,135",2024,36758.0,73.0
7,Delaware,"24,656",2024,8973.0,61.5
8,Georgia,"281,994",2024,112184.0,69.6
9,Idaho,"52,930",2024,8711.0,68.7
10,Illinois,"310,511",2024,139761.0,68.1
11,Indiana,"174,664",2024,54346.0,62.5
12,Iowa,"86,513",2024,13459.0,70.3
13,Kansas,"77,892",2024,11039.0,73.9
14,Kentucky,"104,001",2024,32792.0,61.4
15,Louisiana,"116,115",2024,26876.0,56.4
16,Maine,"32,725",2024,7602.0,68.2
17,Maryland,"152,871",2024,75163.0,67.4
18,Massachusetts,"162,717",2024,73809.0,71.3
19,Michigan,"231,750",2024,70914.0,69.8
20,Minnesota,"153,181",2024,44745.0,72.5
21,Mississippi,"68,918",2024,13726.0,46.5
22,Missouri,"146,053",2024,29751.0,70.0
23,Montana,"23,219",2024,4953.0,74.0
24,Nebraska,"55,165",2024,10803.0,66.3
25,Nevada,"79,841",2024,25332.0,56.6
26,New Jersey,"230,854",2024,92253.0,73.1
27,New Mexico,"50,593",2024,11654.0,45.4
28,New York,"423,389",2024,196940.0,67.7
29,North Carolina,"247,228",2024,93149.0,66.8
30,North Dakota,"18,792",2024,3309.0,69.5
31,Ohio,"277,958",2024,73136.0,74.0
32,Oklahoma,"106,015",2024,17603.0,56.7
33,Oregon,"98,704",2024,23046.0,67.5
34,Pennsylvania,"300,929",2024,81806.0,73.0
35,Rhode Island,"25,194",2024,8393.0,64.2
36,South Carolina,"121,200",2024,34421.0,70.7
37,South Dakota,"22,289",2024,3827.0,73.3
38,Tennessee,"165,967",2024,46201.0,66.9
39,Texas,"836,003",2024,381057.0,54.1
40,Total,NaN,2024,NaN,NaN
41,Vermont,"13,662",2024,3371.0,73.7
42,Virginia,"212,730",2024,84655.0,71.3
43,West Virginia,"36,977",2024,6485.0,58.9
44,Wisconsin,"145,830",2024,51868.0,72.1
45,Wyoming,"14,202",2024,2260.0,68.9

In [133]:
df_drop = df_reset.drop(columns=['index'])
df_drop

,state,hs_enrollment,year,total_ap_students,pct_score_3_or_above
0,Alabama,"117,803",2024,31027.0,57.1
1,Alaska,"20,383",2024,4199.0,63.3
2,Arizona,"201,966",2024,45686.0,65.9
3,Arkansas,"76,505",2024,28891.0,48.7
4,California,"1,026,753",2024,435853.0,67.7
5,Colorado,"149,565",2024,56546.0,68.8
6,Connecticut,"94,135",2024,36758.0,73.0
7,Delaware,"24,656",2024,8973.0,61.5
8,District of Columbia,"14,714",2024,6936.0,61.4
9,Florida,"511,419",2024,219999.0,64.5
10,GRAND TOTAL,"8,264,172",2024,3079134.0,66.6
11,Georgia,"281,994",2024,112184.0,69.6
12,Hawaii,"29,231",2024,9790.0,65.5
13,Idaho,"52,930",2024,8711.0,68.7
14,Illinois,"310,511",2024,139761.0,68.1
15,Indiana,"174,664",2024,54346.0,62.5
16,Iowa,"86,513",2024,13459.0,70.3
17,Kansas,"77,892",2024,11039.0,73.9
18,Kentucky,"104,001",2024,32792.0,61.4
19,Louisiana,"116,115",2024,26876.0,56.4
20,Maine,"32,725",2024,7602.0,68.2
21,Maryland,"152,871",2024,75163.0,67.4
22,Massachusetts,"162,717",2024,73809.0,71.3
23,Michigan,"231,750",2024,70914.0,69.8
24,Minnesota,"153,181",2024,44745.0,72.5
25,Mississippi,"68,918",2024,13726.0,46.5
26,Missouri,"146,053",2024,29751.0,70.0
27,Montana,"23,219",2024,4953.0,74.0
28,NON U.S./U.S. TERR/CAN,NaN,2024,123671.0,79.2
29,Nebraska,"55,165",2024,10803.0,66.3
30,Nevada,"79,841",2024,25332.0,56.6
31,New Hampshire,"33,240",2024,7405.0,73.9
32,New Jersey,"230,854",2024,92253.0,73.1
33,New Mexico,"50,593",2024,11654.0,45.4
34,New York,"423,389",2024,196940.0,67.7
35,North Carolina,"247,228",2024,93149.0,66.8
36,North Dakota,"18,792",2024,3309.0,69.5
37,Ohio,"277,958",2024,73136.0,74.0
38,Oklahoma,"106,015",2024,17603.0,56.7
39,Oregon,"98,704",2024,23046.0,67.5
40,Pennsylvania,"300,929",2024,81806.0,73.0
41,Rhode Island,"25,194",2024,8393.0,64.2
42,South Carolina,"121,200",2024,34421.0,70.7
43,South Dakota,"22,289",2024,3827.0,73.3
44,TOTAL (U.S.),"8,264,172",2024,2955463.0,66.0
45,Tennessee,"165,967",2024,46201.0,66.9
46,Texas,"836,003",2024,381057.0,54.1
47,Total,NaN,2024,NaN,NaN
48,Utah,"111,692",2024,34226.0,72.7
49,Vermont,"13,662",2024,3371.0,73.7
50,Virginia,"212,730",2024,84655.0,71.3
51,Washington,"192,534",2024,57774.0,72.1
52,West Virginia,"36,977",2024,6485.0,58.9
53,Wisconsin,"145,830",2024,51868.0,72.1
54,Wyoming,"14,202",2024,2260.0,68.9

In [134]:
df_drop = df_drop.drop(index=[10, 8, 28, 44, 47]).reset_index().drop(columns=['index'])
df_drop

,state,hs_enrollment,year,total_ap_students,pct_score_3_or_above
0,Alabama,"117,803",2024,31027.0,57.1
1,Alaska,"20,383",2024,4199.0,63.3
2,Arizona,"201,966",2024,45686.0,65.9
3,Arkansas,"76,505",2024,28891.0,48.7
4,California,"1,026,753",2024,435853.0,67.7
5,Colorado,"149,565",2024,56546.0,68.8
6,Connecticut,"94,135",2024,36758.0,73.0
7,Delaware,"24,656",2024,8973.0,61.5
8,Florida,"511,419",2024,219999.0,64.5
9,Georgia,"281,994",2024,112184.0,69.6
10,Hawaii,"29,231",2024,9790.0,65.5
11,Idaho,"52,930",2024,8711.0,68.7
12,Illinois,"310,511",2024,139761.0,68.1
13,Indiana,"174,664",2024,54346.0,62.5
14,Iowa,"86,513",2024,13459.0,70.3
15,Kansas,"77,892",2024,11039.0,73.9
16,Kentucky,"104,001",2024,32792.0,61.4
17,Louisiana,"116,115",2024,26876.0,56.4
18,Maine,"32,725",2024,7602.0,68.2
19,Maryland,"152,871",2024,75163.0,67.4
20,Massachusetts,"162,717",2024,73809.0,71.3
21,Michigan,"231,750",2024,70914.0,69.8
22,Minnesota,"153,181",2024,44745.0,72.5
23,Mississippi,"68,918",2024,13726.0,46.5
24,Missouri,"146,053",2024,29751.0,70.0
25,Montana,"23,219",2024,4953.0,74.0
26,Nebraska,"55,165",2024,10803.0,66.3
27,Nevada,"79,841",2024,25332.0,56.6
28,New Hampshire,"33,240",2024,7405.0,73.9
29,New Jersey,"230,854",2024,92253.0,73.1
30,New Mexico,"50,593",2024,11654.0,45.4
31,New York,"423,389",2024,196940.0,67.7
32,North Carolina,"247,228",2024,93149.0,66.8
33,North Dakota,"18,792",2024,3309.0,69.5
34,Ohio,"277,958",2024,73136.0,74.0
35,Oklahoma,"106,015",2024,17603.0,56.7
36,Oregon,"98,704",2024,23046.0,67.5
37,Pennsylvania,"300,929",2024,81806.0,73.0
38,Rhode Island,"25,194",2024,8393.0,64.2
39,South Carolina,"121,200",2024,34421.0,70.7
40,South Dakota,"22,289",2024,3827.0,73.3
41,Tennessee,"165,967",2024,46201.0,66.9
42,Texas,"836,003",2024,381057.0,54.1
43,Utah,"111,692",2024,34226.0,72.7
44,Vermont,"13,662",2024,3371.0,73.7
45,Virginia,"212,730",2024,84655.0,71.3
46,Washington,"192,534",2024,57774.0,72.1
47,West Virginia,"36,977",2024,6485.0,58.9
48,Wisconsin,"145,830",2024,51868.0,72.1
49,Wyoming,"14,202",2024,2260.0,68.9

In [137]:
df_drop["hs_enrollment"] = (
    df_drop["hs_enrollment"]
    .str.replace(",", "", regex=False)
    .astype(int)
)

In [138]:
df_drop

,state,hs_enrollment,year,total_ap_students,pct_score_3_or_above
0,Alabama,117803,2024,31027.0,57.1
1,Alaska,20383,2024,4199.0,63.3
2,Arizona,201966,2024,45686.0,65.9
3,Arkansas,76505,2024,28891.0,48.7
4,California,1026753,2024,435853.0,67.7
5,Colorado,149565,2024,56546.0,68.8
6,Connecticut,94135,2024,36758.0,73.0
7,Delaware,24656,2024,8973.0,61.5
8,Florida,511419,2024,219999.0,64.5
9,Georgia,281994,2024,112184.0,69.6
10,Hawaii,29231,2024,9790.0,65.5
11,Idaho,52930,2024,8711.0,68.7
12,Illinois,310511,2024,139761.0,68.1
13,Indiana,174664,2024,54346.0,62.5
14,Iowa,86513,2024,13459.0,70.3
15,Kansas,77892,2024,11039.0,73.9
16,Kentucky,104001,2024,32792.0,61.4
17,Louisiana,116115,2024,26876.0,56.4
18,Maine,32725,2024,7602.0,68.2
19,Maryland,152871,2024,75163.0,67.4
20,Massachusetts,162717,2024,73809.0,71.3
21,Michigan,231750,2024,70914.0,69.8
22,Minnesota,153181,2024,44745.0,72.5
23,Mississippi,68918,2024,13726.0,46.5
24,Missouri,146053,2024,29751.0,70.0
25,Montana,23219,2024,4953.0,74.0
26,Nebraska,55165,2024,10803.0,66.3
27,Nevada,79841,2024,25332.0,56.6
28,New Hampshire,33240,2024,7405.0,73.9
29,New Jersey,230854,2024,92253.0,73.1
30,New Mexico,50593,2024,11654.0,45.4
31,New York,423389,2024,196940.0,67.7
32,North Carolina,247228,2024,93149.0,66.8
33,North Dakota,18792,2024,3309.0,69.5
34,Ohio,277958,2024,73136.0,74.0
35,Oklahoma,106015,2024,17603.0,56.7
36,Oregon,98704,2024,23046.0,67.5
37,Pennsylvania,300929,2024,81806.0,73.0
38,Rhode Island,25194,2024,8393.0,64.2
39,South Carolina,121200,2024,34421.0,70.7
40,South Dakota,22289,2024,3827.0,73.3
41,Tennessee,165967,2024,46201.0,66.9
42,Texas,836003,2024,381057.0,54.1
43,Utah,111692,2024,34226.0,72.7
44,Vermont,13662,2024,3371.0,73.7
45,Virginia,212730,2024,84655.0,71.3
46,Washington,192534,2024,57774.0,72.1
47,West Virginia,36977,2024,6485.0,58.9
48,Wisconsin,145830,2024,51868.0,72.1
49,Wyoming,14202,2024,2260.0,68.9

In [139]:
df_drop["total_ap_students"] = df_drop["total_ap_students"].astype(int)

In [140]:
df_drop

,state,hs_enrollment,year,total_ap_students,pct_score_3_or_above
0,Alabama,117803,2024,31027,57.1
1,Alaska,20383,2024,4199,63.3
2,Arizona,201966,2024,45686,65.9
3,Arkansas,76505,2024,28891,48.7
4,California,1026753,2024,435853,67.7
5,Colorado,149565,2024,56546,68.8
6,Connecticut,94135,2024,36758,73.0
7,Delaware,24656,2024,8973,61.5
8,Florida,511419,2024,219999,64.5
9,Georgia,281994,2024,112184,69.6
10,Hawaii,29231,2024,9790,65.5
11,Idaho,52930,2024,8711,68.7
12,Illinois,310511,2024,139761,68.1
13,Indiana,174664,2024,54346,62.5
14,Iowa,86513,2024,13459,70.3
15,Kansas,77892,2024,11039,73.9
16,Kentucky,104001,2024,32792,61.4
17,Louisiana,116115,2024,26876,56.4
18,Maine,32725,2024,7602,68.2
19,Maryland,152871,2024,75163,67.4
20,Massachusetts,162717,2024,73809,71.3
21,Michigan,231750,2024,70914,69.8
22,Minnesota,153181,2024,44745,72.5
23,Mississippi,68918,2024,13726,46.5
24,Missouri,146053,2024,29751,70.0
25,Montana,23219,2024,4953,74.0
26,Nebraska,55165,2024,10803,66.3
27,Nevada,79841,2024,25332,56.6
28,New Hampshire,33240,2024,7405,73.9
29,New Jersey,230854,2024,92253,73.1
30,New Mexico,50593,2024,11654,45.4
31,New York,423389,2024,196940,67.7
32,North Carolina,247228,2024,93149,66.8
33,North Dakota,18792,2024,3309,69.5
34,Ohio,277958,2024,73136,74.0
35,Oklahoma,106015,2024,17603,56.7
36,Oregon,98704,2024,23046,67.5
37,Pennsylvania,300929,2024,81806,73.0
38,Rhode Island,25194,2024,8393,64.2
39,South Carolina,121200,2024,34421,70.7
40,South Dakota,22289,2024,3827,73.3
41,Tennessee,165967,2024,46201,66.9
42,Texas,836003,2024,381057,54.1
43,Utah,111692,2024,34226,72.7
44,Vermont,13662,2024,3371,73.7
45,Virginia,212730,2024,84655,71.3
46,Washington,192534,2024,57774,72.1
47,West Virginia,36977,2024,6485,58.9
48,Wisconsin,145830,2024,51868,72.1
49,Wyoming,14202,2024,2260,68.9

In [141]:
df_clean = df_drop.drop(columns=['year'])
df_clean

             state  hs_enrollment  total_ap_students  pct_score_3_or_above
0          Alabama         117803              31027                  57.1
1           Alaska          20383               4199                  63.3
2          Arizona         201966              45686                  65.9
3         Arkansas          76505              28891                  48.7
4       California        1026753             435853                  67.7
5         Colorado         149565              56546                  68.8
6      Connecticut          94135              36758                  73.0
7         Delaware          24656               8973                  61.5
8          Florida         511419             219999                  64.5
9          Georgia         281994             112184                  69.6
10          Hawaii          29231               9790                  65.5
11           Idaho          52930               8711                  68.7
12        Illinois         310511             139761                  68.1
13         Indiana         174664              54346                  62.5
14            Iowa          86513              13459                  70.3
15          Kansas          77892              11039                  73.9
16        Kentucky         104001              32792                  61.4
17       Louisiana         116115              26876                  56.4
18           Maine          32725               7602                  68.2
19        Maryland         152871              75163                  67.4
20   Massachusetts         162717              73809                  71.3
21        Michigan         231750              70914                  69.8
22       Minnesota         153181              44745                  72.5
23     Mississippi          68918              13726                  46.5
24        Missouri         146053              29751                  70.0
25         Montana          23219               4953                  74.0
26        Nebraska          55165              10803                  66.3
27          Nevada          79841              25332                  56.6
28   New Hampshire          33240               7405                  73.9
29      New Jersey         230854              92253                  73.1
30      New Mexico          50593              11654                  45.4
31        New York         423389             196940                  67.7
32  North Carolina         247228              93149                  66.8
33    North Dakota          18792               3309                  69.5
34            Ohio         277958              73136                  74.0
35        Oklahoma         106015              17603                  56.7
36          Oregon          98704              23046                  67.5
37    Pennsylvania         300929              81806                  73.0
38    Rhode Island          25194               8393                  64.2
39  South Carolina         121200              34421                  70.7
40    South Dakota          22289               3827                  73.3
41       Tennessee         165967              46201                  66.9
42           Texas         836003             381057                  54.1
43            Utah         111692              34226                  72.7
44         Vermont          13662               3371                  73.7
45        Virginia         212730              84655                  71.3
46      Washington         192534              57774                  72.1
47   West Virginia          36977               6485                  58.9
48       Wisconsin         145830              51868                  72.1
49         Wyoming          14202               2260                  68.9

In [143]:
df_x = df_clean.assign(ap_participation_rate = df_clean.get("total_ap_students") / df_clean.get("hs_enrollment") * 100)
df_x

,state,hs_enrollment,total_ap_students,pct_score_3_or_above,ap_participation_rate
0,Alabama,117803,31027,57.1,26.338039
1,Alaska,20383,4199,63.3,20.600500
2,Arizona,201966,45686,65.9,22.620639
3,Arkansas,76505,28891,48.7,37.763545
4,California,1026753,435853,67.7,42.449645
5,Colorado,149565,56546,68.8,37.806974
6,Connecticut,94135,36758,73.0,39.048175
7,Delaware,24656,8973,61.5,36.392764
8,Florida,511419,219999,64.5,43.017369
9,Georgia,281994,112184,69.6,39.782407
10,Hawaii,29231,9790,65.5,33.491841
11,Idaho,52930,8711,68.7,16.457585
12,Illinois,310511,139761,68.1,45.010000
13,Indiana,174664,54346,62.5,31.114597
14,Iowa,86513,13459,70.3,15.557199
15,Kansas,77892,11039,73.9,14.172187
16,Kentucky,104001,32792,61.4,31.530466
17,Louisiana,116115,26876,56.4,23.146019
18,Maine,32725,7602,68.2,23.229947
19,Maryland,152871,75163,67.4,49.167599
20,Massachusetts,162717,73809,71.3,45.360350
21,Michigan,231750,70914,69.8,30.599353
22,Minnesota,153181,44745,72.5,29.210542
23,Mississippi,68918,13726,46.5,19.916422
24,Missouri,146053,29751,70.0,20.370003
25,Montana,23219,4953,74.0,21.331668
26,Nebraska,55165,10803,66.3,19.583069
27,Nevada,79841,25332,56.6,31.728060
28,New Hampshire,33240,7405,73.9,22.277377
29,New Jersey,230854,92253,73.1,39.961621
30,New Mexico,50593,11654,45.4,23.034807
31,New York,423389,196940,67.7,46.515143
32,North Carolina,247228,93149,66.8,37.677367
33,North Dakota,18792,3309,69.5,17.608557
34,Ohio,277958,73136,74.0,26.311889
35,Oklahoma,106015,17603,56.7,16.604254
36,Oregon,98704,23046,67.5,23.348598
37,Pennsylvania,300929,81806,73.0,27.184485
38,Rhode Island,25194,8393,64.2,33.313487
39,South Carolina,121200,34421,70.7,28.400165
40,South Dakota,22289,3827,73.3,17.169904
41,Tennessee,165967,46201,66.9,27.837462
42,Texas,836003,381057,54.1,45.580817
43,Utah,111692,34226,72.7,30.643197
44,Vermont,13662,3371,73.7,24.674279
45,Virginia,212730,84655,71.3,39.794575
46,Washington,192534,57774,72.1,30.007168
47,West Virginia,36977,6485,58.9,17.537929
48,Wisconsin,145830,51868,72.1,35.567442
49,Wyoming,14202,2260,68.9,15.913252

In [145]:
df["ap_participation_rate"] = df["ap_participation_rate"].round(2)

KeyError: 'ap_participation_rate'

In [146]:
df_x

,state,hs_enrollment,total_ap_students,pct_score_3_or_above,ap_participation_rate
0,Alabama,117803,31027,57.1,26.338039
1,Alaska,20383,4199,63.3,20.600500
2,Arizona,201966,45686,65.9,22.620639
3,Arkansas,76505,28891,48.7,37.763545
4,California,1026753,435853,67.7,42.449645
5,Colorado,149565,56546,68.8,37.806974
6,Connecticut,94135,36758,73.0,39.048175
7,Delaware,24656,8973,61.5,36.392764
8,Florida,511419,219999,64.5,43.017369
9,Georgia,281994,112184,69.6,39.782407
10,Hawaii,29231,9790,65.5,33.491841
11,Idaho,52930,8711,68.7,16.457585
12,Illinois,310511,139761,68.1,45.010000
13,Indiana,174664,54346,62.5,31.114597
14,Iowa,86513,13459,70.3,15.557199
15,Kansas,77892,11039,73.9,14.172187
16,Kentucky,104001,32792,61.4,31.530466
17,Louisiana,116115,26876,56.4,23.146019
18,Maine,32725,7602,68.2,23.229947
19,Maryland,152871,75163,67.4,49.167599
20,Massachusetts,162717,73809,71.3,45.360350
21,Michigan,231750,70914,69.8,30.599353
22,Minnesota,153181,44745,72.5,29.210542
23,Mississippi,68918,13726,46.5,19.916422
24,Missouri,146053,29751,70.0,20.370003
25,Montana,23219,4953,74.0,21.331668
26,Nebraska,55165,10803,66.3,19.583069
27,Nevada,79841,25332,56.6,31.728060
28,New Hampshire,33240,7405,73.9,22.277377
29,New Jersey,230854,92253,73.1,39.961621
30,New Mexico,50593,11654,45.4,23.034807
31,New York,423389,196940,67.7,46.515143
32,North Carolina,247228,93149,66.8,37.677367
33,North Dakota,18792,3309,69.5,17.608557
34,Ohio,277958,73136,74.0,26.311889
35,Oklahoma,106015,17603,56.7,16.604254
36,Oregon,98704,23046,67.5,23.348598
37,Pennsylvania,300929,81806,73.0,27.184485
38,Rhode Island,25194,8393,64.2,33.313487
39,South Carolina,121200,34421,70.7,28.400165
40,South Dakota,22289,3827,73.3,17.169904
41,Tennessee,165967,46201,66.9,27.837462
42,Texas,836003,381057,54.1,45.580817
43,Utah,111692,34226,72.7,30.643197
44,Vermont,13662,3371,73.7,24.674279
45,Virginia,212730,84655,71.3,39.794575
46,Washington,192534,57774,72.1,30.007168
47,West Virginia,36977,6485,58.9,17.537929
48,Wisconsin,145830,51868,72.1,35.567442
49,Wyoming,14202,2260,68.9,15.913252

In [148]:
df_x["ap_participation_rate"] = df_x["ap_participation_rate"].round(1)
df_x

,state,hs_enrollment,total_ap_students,pct_score_3_or_above,ap_participation_rate
0,Alabama,117803,31027,57.1,26.3
1,Alaska,20383,4199,63.3,20.6
2,Arizona,201966,45686,65.9,22.6
3,Arkansas,76505,28891,48.7,37.8
4,California,1026753,435853,67.7,42.4
5,Colorado,149565,56546,68.8,37.8
6,Connecticut,94135,36758,73.0,39.0
7,Delaware,24656,8973,61.5,36.4
8,Florida,511419,219999,64.5,43.0
9,Georgia,281994,112184,69.6,39.8
10,Hawaii,29231,9790,65.5,33.5
11,Idaho,52930,8711,68.7,16.5
12,Illinois,310511,139761,68.1,45.0
13,Indiana,174664,54346,62.5,31.1
14,Iowa,86513,13459,70.3,15.6
15,Kansas,77892,11039,73.9,14.2
16,Kentucky,104001,32792,61.4,31.5
17,Louisiana,116115,26876,56.4,23.2
18,Maine,32725,7602,68.2,23.2
19,Maryland,152871,75163,67.4,49.2
20,Massachusetts,162717,73809,71.3,45.4
21,Michigan,231750,70914,69.8,30.6
22,Minnesota,153181,44745,72.5,29.2
23,Mississippi,68918,13726,46.5,19.9
24,Missouri,146053,29751,70.0,20.4
25,Montana,23219,4953,74.0,21.3
26,Nebraska,55165,10803,66.3,19.6
27,Nevada,79841,25332,56.6,31.7
28,New Hampshire,33240,7405,73.9,22.3
29,New Jersey,230854,92253,73.1,40.0
30,New Mexico,50593,11654,45.4,23.0
31,New York,423389,196940,67.7,46.5
32,North Carolina,247228,93149,66.8,37.7
33,North Dakota,18792,3309,69.5,17.6
34,Ohio,277958,73136,74.0,26.3
35,Oklahoma,106015,17603,56.7,16.6
36,Oregon,98704,23046,67.5,23.4
37,Pennsylvania,300929,81806,73.0,27.2
38,Rhode Island,25194,8393,64.2,33.3
39,South Carolina,121200,34421,70.7,28.4
40,South Dakota,22289,3827,73.3,17.2
41,Tennessee,165967,46201,66.9,27.8
42,Texas,836003,381057,54.1,45.6
43,Utah,111692,34226,72.7,30.6
44,Vermont,13662,3371,73.7,24.7
45,Virginia,212730,84655,71.3,39.8
46,Washington,192534,57774,72.1,30.0
47,West Virginia,36977,6485,58.9,17.5
48,Wisconsin,145830,51868,72.1,35.6
49,Wyoming,14202,2260,68.9,15.9

In [152]:
print(df_x["state"])

0            Alabama
1             Alaska
2            Arizona
3           Arkansas
4         California
5           Colorado
6        Connecticut
7           Delaware
8            Florida
9            Georgia
10            Hawaii
11             Idaho
12          Illinois
13           Indiana
14              Iowa
15            Kansas
16          Kentucky
17         Louisiana
18             Maine
19          Maryland
20     Massachusetts
21          Michigan
22         Minnesota
23       Mississippi
24          Missouri
25           Montana
26          Nebraska
27            Nevada
28     New Hampshire
29        New Jersey
30        New Mexico
31          New York
32    North Carolina
33      North Dakota
34              Ohio
35          Oklahoma
36            Oregon
37      Pennsylvania
38      Rhode Island
39    South Carolina
40      South Dakota
41         Tennessee
42             Texas
43              Utah
44           Vermont
45          Virginia
46        Washington
47     West Virginia
48         Wisconsin
49           Wyoming
Name: state, dtype: str

In [154]:
df_states = df_x

In [155]:
df_states

,state,hs_enrollment,total_ap_students,pct_score_3_or_above,ap_participation_rate
0,Alabama,117803,31027,57.1,26.3
1,Alaska,20383,4199,63.3,20.6
2,Arizona,201966,45686,65.9,22.6
3,Arkansas,76505,28891,48.7,37.8
4,California,1026753,435853,67.7,42.4
5,Colorado,149565,56546,68.8,37.8
6,Connecticut,94135,36758,73.0,39.0
7,Delaware,24656,8973,61.5,36.4
8,Florida,511419,219999,64.5,43.0
9,Georgia,281994,112184,69.6,39.8
10,Hawaii,29231,9790,65.5,33.5
11,Idaho,52930,8711,68.7,16.5
12,Illinois,310511,139761,68.1,45.0
13,Indiana,174664,54346,62.5,31.1
14,Iowa,86513,13459,70.3,15.6
15,Kansas,77892,11039,73.9,14.2
16,Kentucky,104001,32792,61.4,31.5
17,Louisiana,116115,26876,56.4,23.2
18,Maine,32725,7602,68.2,23.2
19,Maryland,152871,75163,67.4,49.2
20,Massachusetts,162717,73809,71.3,45.4
21,Michigan,231750,70914,69.8,30.6
22,Minnesota,153181,44745,72.5,29.2
23,Mississippi,68918,13726,46.5,19.9
24,Missouri,146053,29751,70.0,20.4
25,Montana,23219,4953,74.0,21.3
26,Nebraska,55165,10803,66.3,19.6
27,Nevada,79841,25332,56.6,31.7
28,New Hampshire,33240,7405,73.9,22.3
29,New Jersey,230854,92253,73.1,40.0
30,New Mexico,50593,11654,45.4,23.0
31,New York,423389,196940,67.7,46.5
32,North Carolina,247228,93149,66.8,37.7
33,North Dakota,18792,3309,69.5,17.6
34,Ohio,277958,73136,74.0,26.3
35,Oklahoma,106015,17603,56.7,16.6
36,Oregon,98704,23046,67.5,23.4
37,Pennsylvania,300929,81806,73.0,27.2
38,Rhode Island,25194,8393,64.2,33.3
39,South Carolina,121200,34421,70.7,28.4
40,South Dakota,22289,3827,73.3,17.2
41,Tennessee,165967,46201,66.9,27.8
42,Texas,836003,381057,54.1,45.6
43,Utah,111692,34226,72.7,30.6
44,Vermont,13662,3371,73.7,24.7
45,Virginia,212730,84655,71.3,39.8
46,Washington,192534,57774,72.1,30.0
47,West Virginia,36977,6485,58.9,17.5
48,Wisconsin,145830,51868,72.1,35.6
49,Wyoming,14202,2260,68.9,15.9

In [156]:

state_mean_scores_2024 = {
    'Alabama': 2.74,
    'Alaska': 2.94,
    'Arizona': 3.08,
    'Arkansas': 2.53,
    'California': 3.14,
    'Colorado': 3.14,
    'Connecticut': 3.30,
    'Delaware': 2.84,
    'Florida': 2.96,
    'Georgia': 3.18,
    'Hawaii': 2.80,
    'Idaho': 3.12,
    'Illinois': 3.14,
    'Indiana': 2.95,
    'Iowa': 3.20,
    'Kansas': 3.28,
    'Kentucky': 2.84,
    'Louisiana': 2.63,
    'Maine': 3.12,
    'Maryland': 3.14,
    'Massachusetts': 3.24,
    'Michigan': 3.18,
    'Minnesota': 3.28,
    'Mississippi': 2.40,
    'Missouri': 3.15,
    'Montana': 3.26,
    'Nebraska': 3.04,
    'Nevada': 2.73,
    'New Hampshire': 3.31,
    'New Jersey': 3.33,
    'New Mexico': 2.44,
    'New York': 3.14,
    'North Carolina': 3.06,
    'North Dakota': 3.10,
    'Ohio': 3.31,
    'Oklahoma': 2.73,
    'Oregon': 3.06,
    'Pennsylvania': 3.32,
    'Rhode Island': 3.01,
    'South Carolina': 3.19,
    'South Dakota': 3.26,
    'Tennessee': 3.01,
    'Texas': 2.72,
    'Utah': 3.25,
    'Vermont': 3.32,
    'Virginia': 3.25,
    'Washington': 3.29,
    'West Virginia': 2.86,
    'Wisconsin': 3.23,
    'Wyoming': 3.12
}


df_mean_scores = pd.DataFrame(list(state_mean_scores_2024.items()), 
                               columns=['state', 'mean_ap_score_2024'])

# Display
print(df_mean_scores)
print(f"\nShape: {df_mean_scores.shape}")
print(f"States covered: {df_mean_scores['state'].nunique()}")

             state  mean_ap_score_2024
0          Alabama                2.74
1           Alaska                2.94
2          Arizona                3.08
3         Arkansas                2.53
4       California                3.14
5         Colorado                3.14
6      Connecticut                3.30
7         Delaware                2.84
8          Florida                2.96
9          Georgia                3.18
10          Hawaii                2.80
11           Idaho                3.12
12        Illinois                3.14
13         Indiana                2.95
14            Iowa                3.20
15          Kansas                3.28
16        Kentucky                2.84
17       Louisiana                2.63
18           Maine                3.12
19        Maryland                3.14
20   Massachusetts                3.24
21        Michigan                3.18
22       Minnesota                3.28
23     Mississippi                2.40
24        Missouri                3.15
25         Montana                3.26
26        Nebraska                3.04
27          Nevada                2.73
28   New Hampshire                3.31
29      New Jersey                3.33
30      New Mexico                2.44
31        New York                3.14
32  North Carolina                3.06
33    North Dakota                3.10
34            Ohio                3.31
35        Oklahoma                2.73
36          Oregon                3.06
37    Pennsylvania                3.32
38    Rhode Island                3.01
39  South Carolina                3.19
40    South Dakota                3.26
41       Tennessee                3.01
42           Texas                2.72
43            Utah                3.25
44         Vermont                3.32
45        Virginia                3.25
46      Washington                3.29
47   West Virginia                2.86
48       Wisconsin                3.23
49         Wyoming                3.12

Shape: (50, 2)
States covered: 50

In [157]:
# Merge with your existing df
df_scores = df_states.merge(df_mean_scores, on='state', how='left')

# Check the merge
print("\nAfter merge:")
print(df[['state', 'year', 'pct_score_3_or_above', 'mean_ap_score_2024']].head(10))

# Verify no missing values
print(f"\nMissing mean_ap_score_2024: {df['mean_ap_score_2024'].isnull().sum()}")

After merge:

KeyError: "['mean_ap_score_2024'] not in index"

In [158]:
df_scores

,state,hs_enrollment,total_ap_students,pct_score_3_or_above,ap_participation_rate,mean_ap_score_2024
0,Alabama,117803,31027,57.1,26.3,2.74
1,Alaska,20383,4199,63.3,20.6,2.94
2,Arizona,201966,45686,65.9,22.6,3.08
3,Arkansas,76505,28891,48.7,37.8,2.53
4,California,1026753,435853,67.7,42.4,3.14
5,Colorado,149565,56546,68.8,37.8,3.14
6,Connecticut,94135,36758,73.0,39.0,3.30
7,Delaware,24656,8973,61.5,36.4,2.84
8,Florida,511419,219999,64.5,43.0,2.96
9,Georgia,281994,112184,69.6,39.8,3.18
10,Hawaii,29231,9790,65.5,33.5,2.80
11,Idaho,52930,8711,68.7,16.5,3.12
12,Illinois,310511,139761,68.1,45.0,3.14
13,Indiana,174664,54346,62.5,31.1,2.95
14,Iowa,86513,13459,70.3,15.6,3.20
15,Kansas,77892,11039,73.9,14.2,3.28
16,Kentucky,104001,32792,61.4,31.5,2.84
17,Louisiana,116115,26876,56.4,23.2,2.63
18,Maine,32725,7602,68.2,23.2,3.12
19,Maryland,152871,75163,67.4,49.2,3.14
20,Massachusetts,162717,73809,71.3,45.4,3.24
21,Michigan,231750,70914,69.8,30.6,3.18
22,Minnesota,153181,44745,72.5,29.2,3.28
23,Mississippi,68918,13726,46.5,19.9,2.40
24,Missouri,146053,29751,70.0,20.4,3.15
25,Montana,23219,4953,74.0,21.3,3.26
26,Nebraska,55165,10803,66.3,19.6,3.04
27,Nevada,79841,25332,56.6,31.7,2.73
28,New Hampshire,33240,7405,73.9,22.3,3.31
29,New Jersey,230854,92253,73.1,40.0,3.33
30,New Mexico,50593,11654,45.4,23.0,2.44
31,New York,423389,196940,67.7,46.5,3.14
32,North Carolina,247228,93149,66.8,37.7,3.06
33,North Dakota,18792,3309,69.5,17.6,3.10
34,Ohio,277958,73136,74.0,26.3,3.31
35,Oklahoma,106015,17603,56.7,16.6,2.73
36,Oregon,98704,23046,67.5,23.4,3.06
37,Pennsylvania,300929,81806,73.0,27.2,3.32
38,Rhode Island,25194,8393,64.2,33.3,3.01
39,South Carolina,121200,34421,70.7,28.4,3.19
40,South Dakota,22289,3827,73.3,17.2,3.26
41,Tennessee,165967,46201,66.9,27.8,3.01
42,Texas,836003,381057,54.1,45.6,2.72
43,Utah,111692,34226,72.7,30.6,3.25
44,Vermont,13662,3371,73.7,24.7,3.32
45,Virginia,212730,84655,71.3,39.8,3.25
46,Washington,192534,57774,72.1,30.0,3.29
47,West Virginia,36977,6485,58.9,17.5,2.86
48,Wisconsin,145830,51868,72.1,35.6,3.23
49,Wyoming,14202,2260,68.9,15.9,3.12

In [164]:
df_college = pd.read_excel('/Users/alanadams/Downloads/DS3 project/college_state_data.xlsx')

ImportError: `Import openpyxl` failed.  Use pip or conda to install the openpyxl package.

In [165]:
import pandas as pd

In [166]:
df_college = pd.read_excel('/Users/alanadams/Downloads/DS3 project/college_state_data.xlsx')

ImportError: `Import openpyxl` failed.  Use pip or conda to install the openpyxl package.

In [167]:
!python3 -m pip install openpyxl

509773.35s - pydevd: Sending message related to process being replaced timed-out after 5 seconds

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5

[notice] A new release of pip is available: 24.3.1 -> 26.0
[notice] To update, run: pip3 install --upgrade pip

In [168]:
df_college = pd.read_excel('/Users/alanadams/Downloads/DS3 project/college_state_data.xlsx')

In [169]:
us_states = [
    'Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado', 
    'Connecticut', 'Delaware', 'Florida', 'Georgia', 'Hawaii', 'Idaho', 
    'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 
    'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota', 
    'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada', 
    'New Hampshire', 'New Jersey', 'New Mexico', 'New York', 
    'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 
    'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota', 
    'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington', 
    'West Virginia', 'Wisconsin', 'Wyoming', 'District of Columbia'
]

# Filter and select columns
df_college_clean = df_college[df_college['State'].isin(us_states)].copy()

# Select only the columns we need
df_college_clean = df_college_clean[['State', 'acceptance rate', 'graduation rate', 'sat score']]

# Rename columns
df_college_clean.rename(columns={
    'State': 'state',
    'acceptance rate': 'college_acceptance_rate',
    'graduation rate': 'college_graduation_rate',
    'sat score': 'avg_sat_score'
}, inplace=True)

# Clean the data - remove any commas, special characters, convert to numeric
df_college_clean['college_acceptance_rate'] = pd.to_numeric(
    df_college_clean['college_acceptance_rate'].astype(str).str.replace(',', '').str.replace('%', ''),
    errors='coerce'
)

df_college_clean['college_graduation_rate'] = pd.to_numeric(
    df_college_clean['college_graduation_rate'].astype(str).str.replace(',', '').str.replace('%', ''),
    errors='coerce'
)

df_college_clean['avg_sat_score'] = pd.to_numeric(
    df_college_clean['avg_sat_score'].astype(str).str.replace(',', '').str.replace('-', ''),
    errors='coerce'
)

# Reset index
df_college_clean = df_college_clean.reset_index(drop=True)

In [170]:
df_college_clean

,state,college_acceptance_rate,college_graduation_rate,avg_sat_score
0,Alaska,0.8408,0.4033,NaN
1,Alabama,0.7375,0.4204,1127.0
2,Arkansas,0.7400,0.4602,1087.0
3,Arizona,0.8715,0.4420,1136.0
4,California,0.6801,0.5639,1329.0
5,Colorado,0.8423,0.5180,1193.0
6,Connecticut,0.6648,0.6350,1219.0
7,District of Columbia,0.6432,0.5586,1278.0
8,Delaware,0.6723,0.4380,1100.0
9,Florida,0.6731,0.5808,1166.0
10,Georgia,0.7090,0.4211,1130.0
11,Hawaii,0.7780,0.4853,1081.0
12,Iowa,0.7776,0.6156,1166.0
13,Idaho,0.7930,0.5207,1132.0
14,Illinois,0.7381,0.5071,1149.0
15,Indiana,0.7795,0.5578,1147.0
16,Kansas,0.7865,0.4795,1074.0
17,Kentucky,0.7766,0.4985,1094.0
18,Louisiana,0.6999,0.4556,1101.0
19,Massachusetts,0.6120,0.5910,1329.0
20,Maryland,0.7198,0.4787,1207.0
21,Maine,0.7013,0.5393,1276.0
22,Michigan,0.7659,0.4930,1141.0
23,Minnesota,0.7441,0.5265,1243.0
24,Missouri,0.7510,0.5396,1156.0
25,Mississippi,0.7397,0.4753,1059.0
26,Montana,0.7995,0.4186,1133.0
27,North Carolina,0.6755,0.4791,1176.0
28,North Dakota,0.7021,0.4659,1067.0
29,Nebraska,0.7514,0.5668,1131.0
30,New Hampshire,0.7983,0.5333,1216.0
31,New Jersey,0.7270,0.5449,1240.0
32,New Mexico,0.7479,0.3447,1117.0
33,Nevada,0.8663,0.5000,1150.0
34,New York,0.6893,0.5634,1254.0
35,Ohio,0.7357,0.5148,1173.0
36,Oklahoma,0.7452,0.4635,1139.0
37,Oregon,0.8141,0.5559,1262.0
38,Pennsylvania,0.7522,0.5843,1205.0
39,Rhode Island,0.6627,0.7092,1248.0
40,South Carolina,0.7383,0.4358,1160.0
41,South Dakota,0.8233,0.4900,1180.0
42,Tennessee,0.7086,0.5470,1159.0
43,Texas,0.7544,0.4780,1106.0
44,Utah,0.8100,0.5095,1201.0
45,Virginia,0.7025,0.5452,1182.0
46,Vermont,0.6225,0.5810,1318.0
47,Washington,0.7504,0.4917,1245.0
48,Wisconsin,0.7976,0.5554,1213.0
49,West Virginia,0.8430,0.5370,1004.0
50,Wyoming,0.9688,0.4867,NaN

In [171]:
df_college_clean['college_graduation_rate'] = df_college_clean['college_graduation_rate'] * 100
df_college_clean['college_acceptance_rate'] = df_college_clean['college_acceptance_rate'] * 100

In [172]:
df_college_clean['avg_sat_score'] = (
    df_college_clean['avg_sat_score']
    .astype(str)
    .str.replace('.0', '', regex=False)
    .str.replace('nan', '')
    .str.strip()
)

# Convert back to numeric (will turn empty strings into NaN)
df_college_clean['avg_sat_score'] = pd.to_numeric(
    df_college_clean['avg_sat_score'], 
    errors='coerce'
)

In [173]:
df_college_clean

,state,college_acceptance_rate,college_graduation_rate,avg_sat_score
0,Alaska,84.08,40.33,NaN
1,Alabama,73.75,42.04,1127.0
2,Arkansas,74.00,46.02,1087.0
3,Arizona,87.15,44.20,1136.0
4,California,68.01,56.39,1329.0
5,Colorado,84.23,51.80,1193.0
6,Connecticut,66.48,63.50,1219.0
7,District of Columbia,64.32,55.86,1278.0
8,Delaware,67.23,43.80,1100.0
9,Florida,67.31,58.08,1166.0
10,Georgia,70.90,42.11,1130.0
11,Hawaii,77.80,48.53,1081.0
12,Iowa,77.76,61.56,1166.0
13,Idaho,79.30,52.07,1132.0
14,Illinois,73.81,50.71,1149.0
15,Indiana,77.95,55.78,1147.0
16,Kansas,78.65,47.95,1074.0
17,Kentucky,77.66,49.85,1094.0
18,Louisiana,69.99,45.56,1101.0
19,Massachusetts,61.20,59.10,1329.0
20,Maryland,71.98,47.87,1207.0
21,Maine,70.13,53.93,1276.0
22,Michigan,76.59,49.30,1141.0
23,Minnesota,74.41,52.65,1243.0
24,Missouri,75.10,53.96,1156.0
25,Mississippi,73.97,47.53,1059.0
26,Montana,79.95,41.86,1133.0
27,North Carolina,67.55,47.91,1176.0
28,North Dakota,70.21,46.59,1067.0
29,Nebraska,75.14,56.68,1131.0
30,New Hampshire,79.83,53.33,1216.0
31,New Jersey,72.70,54.49,1240.0
32,New Mexico,74.79,34.47,1117.0
33,Nevada,86.63,50.00,1150.0
34,New York,68.93,56.34,1254.0
35,Ohio,73.57,51.48,1173.0
36,Oklahoma,74.52,46.35,1139.0
37,Oregon,81.41,55.59,1262.0
38,Pennsylvania,75.22,58.43,1205.0
39,Rhode Island,66.27,70.92,1248.0
40,South Carolina,73.83,43.58,1160.0
41,South Dakota,82.33,49.00,1180.0
42,Tennessee,70.86,54.70,1159.0
43,Texas,75.44,47.80,1106.0
44,Utah,81.00,50.95,1201.0
45,Virginia,70.25,54.52,1182.0
46,Vermont,62.25,58.10,1318.0
47,Washington,75.04,49.17,1245.0
48,Wisconsin,79.76,55.54,1213.0
49,West Virginia,84.30,53.70,1004.0
50,Wyoming,96.88,48.67,NaN

In [174]:
df_college_clean['avg_sat_score'] = (
    df_college_clean['avg_sat_score']
    .astype(str)
    .str.replace('.0', '', regex=False)
    .str.replace('nan', '')
    .str.strip()
)
df_college_clean

,state,college_acceptance_rate,college_graduation_rate,avg_sat_score
0,Alaska,84.08,40.33,NaN
1,Alabama,73.75,42.04,1127
2,Arkansas,74.00,46.02,1087
3,Arizona,87.15,44.20,1136
4,California,68.01,56.39,1329
5,Colorado,84.23,51.80,1193
6,Connecticut,66.48,63.50,1219
7,District of Columbia,64.32,55.86,1278
8,Delaware,67.23,43.80,1100
9,Florida,67.31,58.08,1166
10,Georgia,70.90,42.11,1130
11,Hawaii,77.80,48.53,1081
12,Iowa,77.76,61.56,1166
13,Idaho,79.30,52.07,1132
14,Illinois,73.81,50.71,1149
15,Indiana,77.95,55.78,1147
16,Kansas,78.65,47.95,1074
17,Kentucky,77.66,49.85,1094
18,Louisiana,69.99,45.56,1101
19,Massachusetts,61.20,59.10,1329
20,Maryland,71.98,47.87,1207
21,Maine,70.13,53.93,1276
22,Michigan,76.59,49.30,1141
23,Minnesota,74.41,52.65,1243
24,Missouri,75.10,53.96,1156
25,Mississippi,73.97,47.53,1059
26,Montana,79.95,41.86,1133
27,North Carolina,67.55,47.91,1176
28,North Dakota,70.21,46.59,1067
29,Nebraska,75.14,56.68,1131
30,New Hampshire,79.83,53.33,1216
31,New Jersey,72.70,54.49,1240
32,New Mexico,74.79,34.47,1117
33,Nevada,86.63,50.00,1150
34,New York,68.93,56.34,1254
35,Ohio,73.57,51.48,1173
36,Oklahoma,74.52,46.35,1139
37,Oregon,81.41,55.59,1262
38,Pennsylvania,75.22,58.43,1205
39,Rhode Island,66.27,70.92,1248
40,South Carolina,73.83,43.58,1160
41,South Dakota,82.33,49.00,1180
42,Tennessee,70.86,54.70,1159
43,Texas,75.44,47.80,1106
44,Utah,81.00,50.95,1201
45,Virginia,70.25,54.52,1182
46,Vermont,62.25,58.10,1318
47,Washington,75.04,49.17,1245
48,Wisconsin,79.76,55.54,1213
49,West Virginia,84.30,53.70,1004
50,Wyoming,96.88,48.67,NaN

In [175]:
df_college_clean = df_college_clean[df_college_clean['state'] != 'District of Columbia']

# Reset index after removal
df_college_clean = df_college_clean.reset_index(drop=True)
df_college_clean

,state,college_acceptance_rate,college_graduation_rate,avg_sat_score
0,Alaska,84.08,40.33,NaN
1,Alabama,73.75,42.04,1127
2,Arkansas,74.00,46.02,1087
3,Arizona,87.15,44.20,1136
4,California,68.01,56.39,1329
5,Colorado,84.23,51.80,1193
6,Connecticut,66.48,63.50,1219
7,Delaware,67.23,43.80,1100
8,Florida,67.31,58.08,1166
9,Georgia,70.90,42.11,1130
10,Hawaii,77.80,48.53,1081
11,Iowa,77.76,61.56,1166
12,Idaho,79.30,52.07,1132
13,Illinois,73.81,50.71,1149
14,Indiana,77.95,55.78,1147
15,Kansas,78.65,47.95,1074
16,Kentucky,77.66,49.85,1094
17,Louisiana,69.99,45.56,1101
18,Massachusetts,61.20,59.10,1329
19,Maryland,71.98,47.87,1207
20,Maine,70.13,53.93,1276
21,Michigan,76.59,49.30,1141
22,Minnesota,74.41,52.65,1243
23,Missouri,75.10,53.96,1156
24,Mississippi,73.97,47.53,1059
25,Montana,79.95,41.86,1133
26,North Carolina,67.55,47.91,1176
27,North Dakota,70.21,46.59,1067
28,Nebraska,75.14,56.68,1131
29,New Hampshire,79.83,53.33,1216
30,New Jersey,72.70,54.49,1240
31,New Mexico,74.79,34.47,1117
32,Nevada,86.63,50.00,1150
33,New York,68.93,56.34,1254
34,Ohio,73.57,51.48,1173
35,Oklahoma,74.52,46.35,1139
36,Oregon,81.41,55.59,1262
37,Pennsylvania,75.22,58.43,1205
38,Rhode Island,66.27,70.92,1248
39,South Carolina,73.83,43.58,1160
40,South Dakota,82.33,49.00,1180
41,Tennessee,70.86,54.70,1159
42,Texas,75.44,47.80,1106
43,Utah,81.00,50.95,1201
44,Virginia,70.25,54.52,1182
45,Vermont,62.25,58.10,1318
46,Washington,75.04,49.17,1245
47,Wisconsin,79.76,55.54,1213
48,West Virginia,84.30,53.70,1004
49,Wyoming,96.88,48.67,NaN

In [176]:
df_state_info = df_scores.merge(df_college_clean, on='state', how='left')
df_state_info

,state,hs_enrollment,total_ap_students,pct_score_3_or_above,ap_participation_rate,mean_ap_score_2024,college_acceptance_rate,college_graduation_rate,avg_sat_score
0,Alabama,117803,31027,57.1,26.3,2.74,73.75,42.04,1127
1,Alaska,20383,4199,63.3,20.6,2.94,84.08,40.33,NaN
2,Arizona,201966,45686,65.9,22.6,3.08,87.15,44.20,1136
3,Arkansas,76505,28891,48.7,37.8,2.53,74.00,46.02,1087
4,California,1026753,435853,67.7,42.4,3.14,68.01,56.39,1329
5,Colorado,149565,56546,68.8,37.8,3.14,84.23,51.80,1193
6,Connecticut,94135,36758,73.0,39.0,3.30,66.48,63.50,1219
7,Delaware,24656,8973,61.5,36.4,2.84,67.23,43.80,1100
8,Florida,511419,219999,64.5,43.0,2.96,67.31,58.08,1166
9,Georgia,281994,112184,69.6,39.8,3.18,70.90,42.11,1130
10,Hawaii,29231,9790,65.5,33.5,2.80,77.80,48.53,1081
11,Idaho,52930,8711,68.7,16.5,3.12,79.30,52.07,1132
12,Illinois,310511,139761,68.1,45.0,3.14,73.81,50.71,1149
13,Indiana,174664,54346,62.5,31.1,2.95,77.95,55.78,1147
14,Iowa,86513,13459,70.3,15.6,3.20,77.76,61.56,1166
15,Kansas,77892,11039,73.9,14.2,3.28,78.65,47.95,1074
16,Kentucky,104001,32792,61.4,31.5,2.84,77.66,49.85,1094
17,Louisiana,116115,26876,56.4,23.2,2.63,69.99,45.56,1101
18,Maine,32725,7602,68.2,23.2,3.12,70.13,53.93,1276
19,Maryland,152871,75163,67.4,49.2,3.14,71.98,47.87,1207
20,Massachusetts,162717,73809,71.3,45.4,3.24,61.20,59.10,1329
21,Michigan,231750,70914,69.8,30.6,3.18,76.59,49.30,1141
22,Minnesota,153181,44745,72.5,29.2,3.28,74.41,52.65,1243
23,Mississippi,68918,13726,46.5,19.9,2.40,73.97,47.53,1059
24,Missouri,146053,29751,70.0,20.4,3.15,75.10,53.96,1156
25,Montana,23219,4953,74.0,21.3,3.26,79.95,41.86,1133
26,Nebraska,55165,10803,66.3,19.6,3.04,75.14,56.68,1131
27,Nevada,79841,25332,56.6,31.7,2.73,86.63,50.00,1150
28,New Hampshire,33240,7405,73.9,22.3,3.31,79.83,53.33,1216
29,New Jersey,230854,92253,73.1,40.0,3.33,72.70,54.49,1240
30,New Mexico,50593,11654,45.4,23.0,2.44,74.79,34.47,1117
31,New York,423389,196940,67.7,46.5,3.14,68.93,56.34,1254
32,North Carolina,247228,93149,66.8,37.7,3.06,67.55,47.91,1176
33,North Dakota,18792,3309,69.5,17.6,3.10,70.21,46.59,1067
34,Ohio,277958,73136,74.0,26.3,3.31,73.57,51.48,1173
35,Oklahoma,106015,17603,56.7,16.6,2.73,74.52,46.35,1139
36,Oregon,98704,23046,67.5,23.4,3.06,81.41,55.59,1262
37,Pennsylvania,300929,81806,73.0,27.2,3.32,75.22,58.43,1205
38,Rhode Island,25194,8393,64.2,33.3,3.01,66.27,70.92,1248
39,South Carolina,121200,34421,70.7,28.4,3.19,73.83,43.58,1160
40,South Dakota,22289,3827,73.3,17.2,3.26,82.33,49.00,1180
41,Tennessee,165967,46201,66.9,27.8,3.01,70.86,54.70,1159
42,Texas,836003,381057,54.1,45.6,2.72,75.44,47.80,1106
43,Utah,111692,34226,72.7,30.6,3.25,81.00,50.95,1201
44,Vermont,13662,3371,73.7,24.7,3.32,62.25,58.10,1318
45,Virginia,212730,84655,71.3,39.8,3.25,70.25,54.52,1182
46,Washington,192534,57774,72.1,30.0,3.29,75.04,49.17,1245
47,West Virginia,36977,6485,58.9,17.5,2.86,84.30,53.70,1004
48,Wisconsin,145830,51868,72.1,35.6,3.23,79.76,55.54,1213
49,Wyoming,14202,2260,68.9,15.9,3.12,96.88,48.67,NaN

In [177]:
df_y = df_state_info

In [178]:
df_funding = pd.read_excel("ap-funding-data.xlsx")

FileNotFoundError: [Errno 2] No such file or directory: 'ap-funding-data.xlsx'

In [180]:
df_funding = pd.read_excel("/Users/alanadams/Downloads/DS3 project/ap funding data.xlsx")

In [181]:
df_funding['funding_tier'] = df_funding['funding_tier'].str.strip().str.lower()

In [182]:
tier_map = {
    'full': 'FULL_ALL',          # fully funded for all low-income students
    'full public': 'FULL_PUBLIC',# fully funded for low-income public-school students only
    'partial': 'PARTIAL',        # partial funding
    'none': 'NONE'               # no state funding
}
df_funding['funding_tier_code'] = df_funding['funding_tier'].map(tier_map)

In [183]:
df_funding

             state funding_tier funding_tier_code
0          Alabama  full public       FULL_PUBLIC
1           Alaska         none              NONE
2          Arizona  full public       FULL_PUBLIC
3         Arkansas  full public       FULL_PUBLIC
4       California         none              NONE
5         Colorado  full public       FULL_PUBLIC
6      Connecticut  full public       FULL_PUBLIC
7         Delaware      partial           PARTIAL
8          Florida  full public       FULL_PUBLIC
9          Georgia      partial           PARTIAL
10          Hawaii      partial           PARTIAL
11           Idaho  full public       FULL_PUBLIC
12        Illinois      partial           PARTIAL
13         Indiana         full          FULL_ALL
14            Iowa         none              NONE
15          Kansas         none              NONE
16        Kentucky  full public       FULL_PUBLIC
17       Louisiana         none              NONE
18           Maine         none              NONE
19        Maryland      partial           PARTIAL
20   Massachusetts      partial           PARTIAL
21        Michigan      partial           PARTIAL
22       Minnesota         full          FULL_ALL
23     Mississippi         none              NONE
24        Missouri         none              NONE
25         Montana         none              NONE
26        Nebraska         none              NONE
27          Nevada         none              NONE
28   New Hampshire         full          FULL_ALL
29      New Jersey      partial           PARTIAL
30      New Mexico      partial           PARTIAL
31        New York      partial           PARTIAL
32  North Carolina  full public       FULL_PUBLIC
33    North Dakota      partial           PARTIAL
34            Ohio  full public       FULL_PUBLIC
35        Oklahoma      partial           PARTIAL
36          Oregon  full public       FULL_PUBLIC
37    Pennsylvania      partial           PARTIAL
38    Rhode Island         full          FULL_ALL
39  South Carolina  full public       FULL_PUBLIC
40    South Dakota         none              NONE
41       Tennessee      partial           PARTIAL
42           Texas      partial           PARTIAL
43            Utah  full public       FULL_PUBLIC
44         Vermont         none              NONE
45        Virginia         none              NONE
46      Washington         full          FULL_ALL
47   West Virginia         full          FULL_ALL
48       Wisconsin         none              NONE
49         Wyoming         none              NONE

In [184]:
df_funding = df_funding.drop(columns=['funding_tier'])
df_funding = df_funding.rename(columns={'funding_tier_code': 'funding_tier'})
df_funding

             state funding_tier
0          Alabama  FULL_PUBLIC
1           Alaska         NONE
2          Arizona  FULL_PUBLIC
3         Arkansas  FULL_PUBLIC
4       California         NONE
5         Colorado  FULL_PUBLIC
6      Connecticut  FULL_PUBLIC
7         Delaware      PARTIAL
8          Florida  FULL_PUBLIC
9          Georgia      PARTIAL
10          Hawaii      PARTIAL
11           Idaho  FULL_PUBLIC
12        Illinois      PARTIAL
13         Indiana     FULL_ALL
14            Iowa         NONE
15          Kansas         NONE
16        Kentucky  FULL_PUBLIC
17       Louisiana         NONE
18           Maine         NONE
19        Maryland      PARTIAL
20   Massachusetts      PARTIAL
21        Michigan      PARTIAL
22       Minnesota     FULL_ALL
23     Mississippi         NONE
24        Missouri         NONE
25         Montana         NONE
26        Nebraska         NONE
27          Nevada         NONE
28   New Hampshire     FULL_ALL
29      New Jersey      PARTIAL
30      New Mexico      PARTIAL
31        New York      PARTIAL
32  North Carolina  FULL_PUBLIC
33    North Dakota      PARTIAL
34            Ohio  FULL_PUBLIC
35        Oklahoma      PARTIAL
36          Oregon  FULL_PUBLIC
37    Pennsylvania      PARTIAL
38    Rhode Island     FULL_ALL
39  South Carolina  FULL_PUBLIC
40    South Dakota         NONE
41       Tennessee      PARTIAL
42           Texas      PARTIAL
43            Utah  FULL_PUBLIC
44         Vermont         NONE
45        Virginia         NONE
46      Washington     FULL_ALL
47   West Virginia     FULL_ALL
48       Wisconsin         NONE
49         Wyoming         NONE

In [185]:
df_final = df_state_info.merge(df_funding, on='state', how='left')
df_final

,state,hs_enrollment,total_ap_students,pct_score_3_or_above,ap_participation_rate,mean_ap_score_2024,college_acceptance_rate,college_graduation_rate,avg_sat_score,funding_tier
0,Alabama,117803,31027,57.1,26.3,2.74,73.75,42.04,1127,FULL_PUBLIC
1,Alaska,20383,4199,63.3,20.6,2.94,84.08,40.33,NaN,NONE
2,Arizona,201966,45686,65.9,22.6,3.08,87.15,44.20,1136,FULL_PUBLIC
3,Arkansas,76505,28891,48.7,37.8,2.53,74.00,46.02,1087,FULL_PUBLIC
4,California,1026753,435853,67.7,42.4,3.14,68.01,56.39,1329,NONE
5,Colorado,149565,56546,68.8,37.8,3.14,84.23,51.80,1193,FULL_PUBLIC
6,Connecticut,94135,36758,73.0,39.0,3.30,66.48,63.50,1219,FULL_PUBLIC
7,Delaware,24656,8973,61.5,36.4,2.84,67.23,43.80,1100,PARTIAL
8,Florida,511419,219999,64.5,43.0,2.96,67.31,58.08,1166,FULL_PUBLIC
9,Georgia,281994,112184,69.6,39.8,3.18,70.90,42.11,1130,PARTIAL
10,Hawaii,29231,9790,65.5,33.5,2.80,77.80,48.53,1081,PARTIAL
11,Idaho,52930,8711,68.7,16.5,3.12,79.30,52.07,1132,FULL_PUBLIC
12,Illinois,310511,139761,68.1,45.0,3.14,73.81,50.71,1149,PARTIAL
13,Indiana,174664,54346,62.5,31.1,2.95,77.95,55.78,1147,FULL_ALL
14,Iowa,86513,13459,70.3,15.6,3.20,77.76,61.56,1166,NONE
15,Kansas,77892,11039,73.9,14.2,3.28,78.65,47.95,1074,NONE
16,Kentucky,104001,32792,61.4,31.5,2.84,77.66,49.85,1094,FULL_PUBLIC
17,Louisiana,116115,26876,56.4,23.2,2.63,69.99,45.56,1101,NONE
18,Maine,32725,7602,68.2,23.2,3.12,70.13,53.93,1276,NONE
19,Maryland,152871,75163,67.4,49.2,3.14,71.98,47.87,1207,PARTIAL
20,Massachusetts,162717,73809,71.3,45.4,3.24,61.20,59.10,1329,PARTIAL
21,Michigan,231750,70914,69.8,30.6,3.18,76.59,49.30,1141,PARTIAL
22,Minnesota,153181,44745,72.5,29.2,3.28,74.41,52.65,1243,FULL_ALL
23,Mississippi,68918,13726,46.5,19.9,2.40,73.97,47.53,1059,NONE
24,Missouri,146053,29751,70.0,20.4,3.15,75.10,53.96,1156,NONE
25,Montana,23219,4953,74.0,21.3,3.26,79.95,41.86,1133,NONE
26,Nebraska,55165,10803,66.3,19.6,3.04,75.14,56.68,1131,NONE
27,Nevada,79841,25332,56.6,31.7,2.73,86.63,50.00,1150,NONE
28,New Hampshire,33240,7405,73.9,22.3,3.31,79.83,53.33,1216,FULL_ALL
29,New Jersey,230854,92253,73.1,40.0,3.33,72.70,54.49,1240,PARTIAL
30,New Mexico,50593,11654,45.4,23.0,2.44,74.79,34.47,1117,PARTIAL
31,New York,423389,196940,67.7,46.5,3.14,68.93,56.34,1254,PARTIAL
32,North Carolina,247228,93149,66.8,37.7,3.06,67.55,47.91,1176,FULL_PUBLIC
33,North Dakota,18792,3309,69.5,17.6,3.10,70.21,46.59,1067,PARTIAL
34,Ohio,277958,73136,74.0,26.3,3.31,73.57,51.48,1173,FULL_PUBLIC
35,Oklahoma,106015,17603,56.7,16.6,2.73,74.52,46.35,1139,PARTIAL
36,Oregon,98704,23046,67.5,23.4,3.06,81.41,55.59,1262,FULL_PUBLIC
37,Pennsylvania,300929,81806,73.0,27.2,3.32,75.22,58.43,1205,PARTIAL
38,Rhode Island,25194,8393,64.2,33.3,3.01,66.27,70.92,1248,FULL_ALL
39,South Carolina,121200,34421,70.7,28.4,3.19,73.83,43.58,1160,FULL_PUBLIC
40,South Dakota,22289,3827,73.3,17.2,3.26,82.33,49.00,1180,NONE
41,Tennessee,165967,46201,66.9,27.8,3.01,70.86,54.70,1159,PARTIAL
42,Texas,836003,381057,54.1,45.6,2.72,75.44,47.80,1106,PARTIAL
43,Utah,111692,34226,72.7,30.6,3.25,81.00,50.95,1201,FULL_PUBLIC
44,Vermont,13662,3371,73.7,24.7,3.32,62.25,58.10,1318,NONE
45,Virginia,212730,84655,71.3,39.8,3.25,70.25,54.52,1182,NONE
46,Washington,192534,57774,72.1,30.0,3.29,75.04,49.17,1245,FULL_ALL
47,West Virginia,36977,6485,58.9,17.5,2.86,84.30,53.70,1004,FULL_ALL
48,Wisconsin,145830,51868,72.1,35.6,3.23,79.76,55.54,1213,NONE
49,Wyoming,14202,2260,68.9,15.9,3.12,96.88,48.67,NaN,NONE