In [81]:
import pandas as pd

In [ ]:
migration = pd.read_csv("datasets\\IPEDS college dat\\migration\\2016\EF2016C\\ef2016c.csv") # migration data/state demographics, REMEMBER TO USE EVEN YEARS, AS ODD YEARS HAVE INCOMPLETE DATA

<>:1: SyntaxWarning: "\E" is an invalid escape sequence. Such sequences will not work in the future. Did you mean "\\E"? A raw string is also an option.
<>:1: SyntaxWarning: "\E" is an invalid escape sequence. Such sequences will not work in the future. Did you mean "\\E"? A raw string is also an option.
C:\Users\cluster\AppData\Local\Temp\ipykernel_5940\2675811204.py:1: SyntaxWarning: "\E" is an invalid escape sequence. Such sequences will not work in the future. Did you mean "\\E"? A raw string is also an option.
  migration = pd.read_csv("datasets\\IPEDS college dat\\migration\\2016\EF2016C\\ef2016c.csv") # migration data/state demographics

In [ ]:
# getting unique IDs of schools in migration data

unique_schools = migration["UNITID"].unique()

# dropping rows of incoming class data with school UNITID not in migration data's unique schools 

# incoming_class = incoming_class[incoming_class["UNITID"].isin(unique_schools)]

In [84]:
code_to_state = {     #dictionary of state codes to state, yes there are gaps
    "01": "Alabama",
    "02": "Alaska",
    "04": "Arizona",
    "05": "Arkansas",
    "06": "California",
    "08": "Colorado",
    "09": "Connecticut",
    "10": "Delaware",
    "11": "District of Columbia",
    "12": "Florida",
    "13": "Georgia",
    "15": "Hawaii",
    "16": "Idaho",
    "17": "Illinois",
    "18": "Indiana",
    "19": "Iowa",
    "20": "Kansas",
    "21": "Kentucky",
    "22": "Louisiana",
    "23": "Maine",
    "24": "Maryland",
    "25": "Massachusetts",
    "26": "Michigan",
    "27": "Minnesota",
    "28": "Mississippi",
    "29": "Missouri",
    "30": "Montana",
    "31": "Nebraska",
    "32": "Nevada",
    "33": "New Hampshire",
    "34": "New Jersey",
    "35": "New Mexico",
    "36": "New York",
    "37": "North Carolina",
    "38": "North Dakota",
    "39": "Ohio",
    "40": "Oklahoma",
    "41": "Oregon",
    "42": "Pennsylvania",
    "44": "Rhode Island",
    "45": "South Carolina",
    "46": "South Dakota",
    "47": "Tennessee",
    "48": "Texas",
    "49": "Utah",
    "50": "Vermont",
    "51": "Virginia",
    "53": "Washington",
    "54": "West Virginia",
    "55": "Wisconsin",
    "56": "Wyoming",
    "57": "Unknown",
    "58": "US Total"
}

In [85]:
migrationIDs = migration["UNITID"]
migrationState = migration["EFCSTATE"]
migationStudents = migration["EFRES01"] # num first-time undergrad from that state

labels = ["UNITID"] + [code_to_state.get(str(i).zfill(2), "DEFAULT") for i in range(1, 59)]
labels

['UNITID',
 'Alabama',
 'Alaska',
 'DEFAULT',
 'Arizona',
 'Arkansas',
 'California',
 'DEFAULT',
 'Colorado',
 'Connecticut',
 'Delaware',
 'District of Columbia',
 'Florida',
 'Georgia',
 'DEFAULT',
 'Hawaii',
 'Idaho',
 'Illinois',
 'Indiana',
 'Iowa',
 'Kansas',
 'Kentucky',
 'Louisiana',
 'Maine',
 'Maryland',
 'Massachusetts',
 'Michigan',
 'Minnesota',
 'Mississippi',
 'Missouri',
 'Montana',
 'Nebraska',
 'Nevada',
 'New Hampshire',
 'New Jersey',
 'New Mexico',
 'New York',
 'North Carolina',
 'North Dakota',
 'Ohio',
 'Oklahoma',
 'Oregon',
 'Pennsylvania',
 'DEFAULT',
 'Rhode Island',
 'South Carolina',
 'South Dakota',
 'Tennessee',
 'Texas',
 'Utah',
 'Vermont',
 'Virginia',
 'DEFAULT',
 'Washington',
 'West Virginia',
 'Wisconsin',
 'Wyoming',
 'Unknown',
 'US Total']

In [86]:
# loop through each row in migration to assemble an array containing state makeups for each unique school in migration data, then appending it to a dataframe (OPTIMIZE IF TOO SLOW)

merged = []   # holds rows 
 
currIdx = 0         # current row in migration data

for schoolID in unique_schools:
    row = migration.iloc[currIdx]
    outputRow = [float('nan')] * 59   # 1 -> us total idx (58) is 59 slots 
    outputRow[0] = schoolID

    while (currIdx < len(migrationIDs) and schoolID == migrationIDs[currIdx]):
        if (migrationState[currIdx] <= 58):                                         # state codes / total us students are nums from 1-58 (with gaps)
            outputRow[migrationState[currIdx]] = migationStudents[currIdx]
        
        currIdx += 1

    merged.append(outputRow)

    continue

In [87]:
school_states = pd.DataFrame(merged, columns=labels)
school_states = school_states.dropna(axis=1, how='all')
school_states = school_states.fillna(0)
school_states

,UNITID,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,District of Columbia,...,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming,Unknown,US Total
0,100654,884.0,0.0,1.0,3.0,33.0,1.0,0.0,3.0,3.0,...,20.0,0.0,0.0,2.0,0.0,0.0,3.0,0.0,0.0,1428.0
1,100663,1712.0,1.0,2.0,1.0,1.0,1.0,0.0,0.0,1.0,...,13.0,0.0,0.0,3.0,0.0,1.0,3.0,0.0,0.0,1974.0
2,100690,19.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,23.0
3,100706,861.0,0.0,0.0,1.0,3.0,1.0,1.0,0.0,0.0,...,12.0,0.0,0.0,7.0,0.0,0.0,3.0,0.0,0.0,1184.0
4,100724,662.0,0.0,1.0,0.0,20.0,5.0,1.0,0.0,4.0,...,18.0,0.0,0.0,6.0,2.0,0.0,11.0,0.0,0.0,1148.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6192,489830,0.0,0.0,0.0,21.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,21.0
6193,489900,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0
6194,489937,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,28.0
6195,490009,0.0,0.0,0.0,0.0,2.0,4.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.0
6196,490018,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0