In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("datasets/College_Scorecard_Raw_Data_10032025/FieldOfStudyData1920_2021_PP.csv")

In [3]:
print(df)

          UNITID  OPEID6                        INSTNM CONTROL  MAIN  CIPCODE  \
0       100654.0    1002      Alabama A & M University  Public     1      100
1       100654.0    1002      Alabama A & M University  Public     1      101
2       100654.0    1002      Alabama A & M University  Public     1      109
3       100654.0    1002      Alabama A & M University  Public     1      110
4       100654.0    1002      Alabama A & M University  Public     1      110
...          ...     ...                           ...     ...   ...      ...
229183       NaN   43006  Southeast New Mexico College  Public     1     5201
229184       NaN   43006  Southeast New Mexico College  Public     1     5203
229185       NaN   43006  Southeast New Mexico College  Public     1     5204
229186       NaN   43006  Southeast New Mexico College  Public     1     5204
229187       NaN   43006  Southeast New Mexico College  Public     1     5214

                                                  CIPDESC  CREDLEV  \
0                                   Agriculture, General.        3
1                   Agricultural Business and Management.        3
2                                        Animal Sciences.        3
3                            Food Science and Technology.        3
4                            Food Science and Technology.        5
...                                                   ...      ...
229183                        Business/Commerce, General.        2
229184                   Accounting and Related Services.        1
229185  Business Operations Support and Assistant Serv...        1
229186  Business Operations Support and Assistant Serv...        2
229187                                         Marketing.        3

                                    CREDDESC  IPEDSCOUNT1  ...  \
0                          Bachelor's Degree          NaN  ...
1                          Bachelor's Degree          NaN  ...
2                          Bachelor's Degree          3.0  ...
3                          Bachelor's Degree          7.0  ...
4                            Master's Degree          4.0  ...
...                                      ...          ...  ...
229183                    Associate's Degree          NaN  ...
229184  Undergraduate Certificate or Diploma          NaN  ...
229185  Undergraduate Certificate or Diploma          NaN  ...
229186                    Associate's Degree          NaN  ...
229187                     Bachelor's Degree          NaN  ...

        EARN_COUNT_PELL_WNE_5YR  EARN_PELL_WNE_MDN_5YR  \
0                            PS                     PS
1                            PS                     PS
2                            PS                     PS
3                            PS                     PS
4                            PS                     PS
...                         ...                    ...
229183                       PS                     PS
229184                       PS                     PS
229185                       PS                     PS
229186                       PS                     PS
229187                       PS                     PS

        EARN_COUNT_NOPELL_WNE_5YR  EARN_NOPELL_WNE_MDN_5YR  \
0                              PS                       PS
1                              PS                       PS
2                              PS                       PS
3                              PS                       PS
4                              PS                       PS
...                           ...                      ...
229183                         PS                       PS
229184                         PS                       PS
229185                         PS                       PS
229186                         PS                       PS
229187                         PS                       PS

        EARN_COUNT_MALE_WNE_5YR  EARN_MALE_WNE_MDN_5YR  \
0                            PS                     PS
1                            PS                     PS
2                            PS                     PS
3                            PS                     PS
4                            PS                     PS
...                         ...                    ...
229183                       PS                     PS
229184                       PS                     PS
229185                       PS                     PS
229186                       PS                     PS
229187                       PS                     PS

        EARN_COUNT_NOMALE_WNE_5YR  EARN_NOMALE_WNE_MDN_5YR  \
0                              PS                       PS
1                              PS                       PS
2                              PS                       PS
3                              PS                       PS
4                              PS                       PS
...                           ...                      ...
229183                         PS                       PS
229184                         PS                       PS
229185                         PS                       PS
229186                         PS                       PS
229187                         PS                       PS

        EARN_COUNT_HIGH_CRED_5YR  EARN_IN_STATE_5YR
0                             PS                 PS
1                             PS                 PS
2                             PS                 PS
3                             PS                 PS
4                             PS                 PS
...                          ...                ...
229183                        PS                 PS
229184                        PS                 PS
229185                        PS                 PS
229186                        PS                 PS
229187                        PS                 PS

[229188 rows x 174 columns]