In [22]:
import pandas as pd
import numpy as np

data_24 = pd.read_csv('/Users/alyssagong/Desktop/CollegeBoard_Data/MERGED2023_24_PP.csv')
state_df = (
    data_24
    .groupby("STABBR")
    .size()
    .reset_index(name="num_institutions")
)
state_df.head()

/var/folders/bj/_chbshms4bd63hgqm8v__pk40000gn/T/ipykernel_53191/2596810897.py:4: DtypeWarning: Columns (9,1725,1726,1727,1728,1729,1743,1815,1816,1817,1818,1823,1824,1830,1831,1879,1880,1881,1882,1883,1884,1885,1886,1887,1888,1889,1890,1891,1892,1893,1894,1895,1896,1897,1898,1909,1910,1911,1912,1913,1957,1958,1959,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1983,1984,2403,2404,2495,2496,2497,2498,2499,2500,2501,2502,2503,2504,2505,2506,2507,2508,2509,2510,2511,2512,2513,2514,2515,2516,2517,2518,2519,2520,2521,2522,2523,2524,2525,2526,2527,2528,2529,2530,3215,3231,3235,3236) have mixed types. Specify dtype option on import or set low_memory=False.
  data_24 = pd.read_csv('/Users/alyssagong/Desktop/CollegeBoard_Data/MERGED2023_24_PP.csv')

  STABBR  num_institutions
0     AK                10
1     AL                84
2     AR                85
3     AS                 1
4     AZ               122

In [20]:
[c for c in data_24.columns if "grad" in c.lower() or "c150" in c.lower() or "completion" in c.lower()]

['C150_4',
 'C150_L4',
 'C150_4_POOLED',
 'C150_L4_POOLED',
 'C150_4_WHITE',
 'C150_4_BLACK',
 'C150_4_HISP',
 'C150_4_ASIAN',
 'C150_4_AIAN',
 'C150_4_NHPI',
 'C150_4_2MOR',
 'C150_4_NRA',
 'C150_4_UNKN',
 'C150_4_WHITENH',
 'C150_4_BLACKNH',
 'C150_4_API',
 'C150_4_AIANOLD',
 'C150_4_HISPOLD',
 'C150_L4_WHITE',
 'C150_L4_BLACK',
 'C150_L4_HISP',
 'C150_L4_ASIAN',
 'C150_L4_AIAN',
 'C150_L4_NHPI',
 'C150_L4_2MOR',
 'C150_L4_NRA',
 'C150_L4_UNKN',
 'C150_L4_WHITENH',
 'C150_L4_BLACKNH',
 'C150_L4_API',
 'C150_L4_AIANOLD',
 'C150_L4_HISPOLD',
 'GRAD_DEBT_MDN',
 'GRAD_DEBT_N',
 'GRAD_DEBT_MDN10YR',
 'PCT_GRAD_PROF',
 'GRAD_DEBT_MDN_SUPP',
 'GRAD_DEBT_MDN10YR_SUPP',
 'C150_L4_POOLED_SUPP',
 'C150_4_POOLED_SUPP',
 'GRADS',
 'C150_4_PELL',
 'C150_L4_PELL',
 'C150_4_LOANNOPELL',
 'C150_L4_LOANNOPELL',
 'C150_4_NOLOANNOPELL',
 'C150_L4_NOLOANNOPELL',
 'C150_L4_PELL_POOLED',
 'C150_4_PELL_POOLED',
 'C150_L4_PELL_POOLED_SUPP',
 'C150_4_PELL_POOLED_SUPP']

In [24]:
state_completion = (
    data_24
    .groupby("STABBR")["C150_4_POOLED"]
    .mean()
    .reset_index(name="avg_completion_rate")
)

state_completion.head()

  STABBR  avg_completion_rate
0     AK             0.421243
1     AL             0.459934
2     AR             0.455179
3     AS             0.397800
4     AZ             0.405648

In [29]:
ap_data = pd.DataFrame({
    "STABBR": [
        "MA","NJ","NY","CT","IL","CA","FL","MD","VA","CO",
        "DC","WI","VT","RI","UT","GA","WA","TX","NC","ME",
        "MI","IN","NH","MN","PA","AR","HI","DE","NV","SC",
        "OH","OR","MT","AZ","KY","TN","AK","AL","NM","WY",
        "ND","ID","SD","MO","NE","IA","KS","WV","LA","OK","MS"
    ],
    "ap_score_3plus": [
        32.8,30.7,30.7,29.5,28.3,28.2,28.0,27.8,27.2,27.0,
        25.5,25.2,24.0,23.5,23.4,22.1,21.8,21.5,20.9,20.8,
        20.8,20.4,20.2,20.1,20.0,18.9,18.8,18.6,18.3,17.6,
        17.3,17.0,16.9,16.3,15.5,15.5,15.2,15.1,14.4,14.2,
        14.0,13.9,13.9,12.5,12.5,12.0,10.7,10.7,10.1,10.0,8.5
    ],
    "funding_level": [
        2,2,2,2,1,0,2,2,1,2,
        2,1,0,1,2,1,2,2,2,0,
        1,1,0,1,1,1,0,1,0,1,
        1,0,0,1,0,1,0,1,2,0,
        2,0,0,0,0,0,0,0,0,1,0
    ]
})


ap_data

   STABBR  ap_score_3plus  funding_level
0      MA            32.8              2
1      NJ            30.7              2
2      NY            30.7              2
3      CT            29.5              2
4      IL            28.3              1
5      CA            28.2              0
6      FL            28.0              2
7      MD            27.8              2
8      VA            27.2              1
9      CO            27.0              2
10     DC            25.5              2
11     WI            25.2              1
12     VT            24.0              0
13     RI            23.5              1
14     UT            23.4              2
15     GA            22.1              1
16     WA            21.8              2
17     TX            21.5              2
18     NC            20.9              2
19     ME            20.8              0
20     MI            20.8              1
21     IN            20.4              1
22     NH            20.2              0
23     MN            20.1              1
24     PA            20.0              1
25     AR            18.9              1
26     HI            18.8              0
27     DE            18.6              1
28     NV            18.3              0
29     SC            17.6              1
30     OH            17.3              1
31     OR            17.0              0
32     MT            16.9              0
33     AZ            16.3              1
34     KY            15.5              0
35     TN            15.5              1
36     AK            15.2              0
37     AL            15.1              1
38     NM            14.4              2
39     WY            14.2              0
40     ND            14.0              2
41     ID            13.9              0
42     SD            13.9              0
43     MO            12.5              0
44     NE            12.5              0
45     IA            12.0              0
46     KS            10.7              0
47     WV            10.7              0
48     LA            10.1              0
49     OK            10.0              1
50     MS             8.5              0

In [30]:
analysis_df = state_completion.merge(
    ap_data,
    on="STABBR",
    how="inner"
)

analysis_df

   STABBR  avg_completion_rate  ap_score_3plus  funding_level
0      AK             0.421243            15.2              0
1      AL             0.459934            15.1              1
2      AR             0.455179            18.9              1
3      AZ             0.405648            16.3              1
4      CA             0.585041            28.2              0
5      CO             0.475809            27.0              2
6      CT             0.666514            29.5              2
7      DC             0.559091            25.5              2
8      DE             0.430267            18.6              1
9      FL             0.503948            28.0              2
10     GA             0.407073            22.1              1
11     HI             0.452800            18.8              0
12     IA             0.605600            12.0              0
13     ID             0.531650            13.9              0
14     IL             0.553172            28.3              1
15     IN             0.551100            20.4              1
16     KS             0.458710            10.7              0
17     KY             0.477735            15.5              0
18     LA             0.478785            10.1              0
19     MA             0.663719            32.8              2
20     MD             0.571126            27.8              2
21     ME             0.588621            20.8              0
22     MI             0.560180            20.8              1
23     MN             0.614216            20.1              1
24     MO             0.517615            12.5              0
25     MS             0.448044             8.5              0
26     MT             0.416257            16.9              0
27     NC             0.492200            20.9              2
28     ND             0.440353            14.0              2
29     NE             0.551290            12.5              0
30     NH             0.587221            20.2              0
31     NJ             0.482196            30.7              2
32     NM             0.409575            14.4              2
33     NV             0.382692            18.3              0
34     NY             0.550038            30.7              2
35     OH             0.466276            17.3              1
36     OK             0.385929            10.0              1
37     OR             0.556418            17.0              0
38     PA             0.572863            20.0              1
39     RI             0.657455            23.5              1
40     SC             0.474045            17.6              1
41     SD             0.413740            13.9              0
42     TN             0.519265            15.5              1
43     TX             0.439079            21.5              2
44     UT             0.522122            23.4              2
45     VA             0.565932            27.2              1
46     VT             0.603290            24.0              0
47     WA             0.468847            21.8              2
48     WI             0.564729            25.2              1
49     WV             0.474983            10.7              0
50     WY             0.412540            14.2              0

In [31]:
analysis_df[[
    "avg_completion_rate",
    "ap_score_3plus",
    "funding_level"
]].corr()

                     avg_completion_rate  ap_score_3plus  funding_level
avg_completion_rate             1.000000        0.519261       0.104477
ap_score_3plus                  0.519261        1.000000       0.596386
funding_level                   0.104477        0.596386       1.000000